<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>
        
          {{ template "left_sidebar_menu" .}}
          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>

        <div class="account">
          <button
            class="open-right-menu-button"
            type="button"
            id="right-menu-button">
            {{ if .User.ProfileImagePath }}
              <img
                class="profile-pic-display"
                src="{{ smallImagePath .User.ProfileImagePath }}"
                alt="profile picture"
                >
            {{ else }}
              <img class="songs-art-display-placeholder">
            {{ end }} 

        </button>

          {{ template "right_sidebar" . }}

        </div>
      </div>
  
      <div class="profile-lower-content-box">

        <div class="admin-header">Admin</div>

        <div class="admin-gen-access-code">

          <div class="admin-gen-access-header">
            <div class="admin-gen-access-header-row">
              <div class="admin-gen-access-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-icon lucide-key"><path d="m15.5 7.5 2.3 2.3a1 1 0 0 0 1.4 0l2.1-2.1a1 1 0 0 0 0-1.4L19 4"/><path d="m21 2-9.6 9.6"/><circle cx="7.5" cy="15.5" r="5.5"/></svg>
              </div>
              
              <div class="admin-gen-access-text">
                <div 
                  class="admin-gen-access-header-row-top">Access Code
                </div>
                <div class="admin-gen-access-header-row-bottom">
                  Send this code to new members to join the band
                </div>
              </div>
            </div>
          </div>
          
          <div class="admin-access-code-box">
            <span class="admin-access-code"></span>
            <button
              type="button"
              class="admin-display-field-copy"
              onclick="copyToClipboard('', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="admin-gen-access-header-row-bottom">This code is good for 1 hour</div>

          <a 
            class="admin-gen-access-code-button"
            hx-target=".admin-access-code-box"
            hx-post="/admin/access-code"
            hx-swap="outerHTML"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw-icon lucide-refresh-ccw"><path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"/><path d="M16 16h5v5"/></svg>
            Generate Access Code
          </a>

        </div>


        <div class="admin-info-card">

          {{ range .Users }}
            <div class="admin-info-row">
              <div class="admin-info-row-pic">
                <img
                  class="admin-member-pic"
                  src="{{ smallImagePath .ProfileImagePath }}"
                  alt="">
              </div>

              <div class="admin-info-row-content">
                <span class="admin-row-top">{{.Name}}</span>
                <span class="admin-row-bottom">{{ .Email }}</span>

              </div>

              <div class="admin-info-row-role">
                {{ isAdminToRole .IsAdmin }}
              </div>
            </div>
            
            <div class="admin-divider"></div>

          {{ end }}

        </div>

    </div> 

  </body>
</html>