/* * {
    border: 1px solid red;
} */

.song-header {
    display: flex;
    flex-direction: row;

    margin-top: 4px;
    min-height: 42px;
    
    letter-spacing: -0.5px;
    margin-bottom: 8px;

    background-color: #111;
    color: white;
    
}

.song-header-back-button {
    height: 64px;
    width: 64px;
    margin-right: auto;

    border: none;

    background: transparent;
    color: #fafafa;

    font-size: 40px;
}

.song-header-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 600;
}

.song-header-right {
    margin-left: auto;
    height: 64px;
    width: 64px;
}


.song-info-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    list-style-type: none;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 1);
    gap: 10px;

    overflow-y: auto;
    min-height: 0;
}

.song-display-card {
    min-height: 64px;
    padding: 12px 16px;
    box-sizing: border-box;
    width: 90%;

    border-radius: 12px;
    text-decoration: none;

    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #fafafa;

    border: 1px solid red;
}

.song-display-card-row {
    display: flex;
    flex-direction: row;
    margin-left: 0px

}

.song-display-label {
    margin-left: 0px;
    min-width: 128px;
    margin: 8px;

    font-size: 16px;
    font-weight: 400;

    /* border: 1px solid green; */
}

.song-display-field {
    min-width: 0;
    margin: 8px;
    font-size: 16px;
    font-weight: 400;

    line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    /* border: 1px solid red; */
}

.song-display-card-big {
    margin-left: 0px;
    min-width: 128px;
    margin: 8px;

    font-size: 16px;
    font-weight: 400;

    /* border: 1px solid green; */
}




