/* * {
    border: 1px solid red;
} */

.song-header {
    display: flex;
    flex-direction: row;

    margin-top: 4px;
    min-height: 42px;
    
    letter-spacing: -0.5px;
    margin-bottom: 8px;

    background-color: #111;
    color: white;
    
}

.song-header-back-button {
    height: 64px;
    width: 64px;
    margin-right: auto;

    border: none;

    background: transparent;
    color: #fafafa;

    font-size: 40px;
}

.song-header-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 600;
}

.song-header-right {
    margin-left: auto;
    height: 64px;
    width: 64px;
}


.song-info-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);
    gap: 10px;

    overflow-y: auto;
    min-height: 0;
}

.song-display-card {
    width: 90%;
    padding: 16px 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    border-radius: 12px;
    background-color: #1e1e1e;
    color: #fafafa;
    border: 1px solid red;
}

.song-display-card-row {
    display: grid;
    grid-template-columns: 180px 1fr;
    column-gap: 16px;

    width: 100%;
    min-height: 0;
}

.song-display-label {
    flex-shrink: 0;
    width: 160px;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
}

.song-display-field {
    flex: 1;
    min-width: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-display-lyrics-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.song-display-label-full {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
}

.song-display-large-field {
    width: 100%;
    max-height: 220px;
    overflow-y: auto;

    padding: 16px;
    box-sizing: border-box;

    border-radius: 12px;
    background-color: #444444;
}

.song-display-lyrics {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}




