/* * {
    border: 1px solid red;
} */

.open-setlist {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-primary);
}

.setlists {
    display: flex;
    margin: auto;
    font-size: 40px;
}


.setlists-content-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;  
}

.setlists-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100%
}

.setlists-header-left {
    display: flex;
    height: 100%;
    min-width: 48px;

    /* outline: 1px solid red; */
}

.setlists-header-center {
    display: flex;
    flex-direction: column;
    flex: 1;
    mafgin: 0px;
    height: 100%;
    padding-left: 4px;

    /* outline: 1px solid red; */
}

.setlists-header-top {
    font-size: 36px;
    color: var(--text-primary);
}
.setlists-header-bottom {
    font-size: 14px;
    color: #bbbbbb;
}


.setlists-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 126px;
    padding-right: 16px;
    padding-left: 4px;

    /* outline: 1px solid red; */
}

.setlists-add-setlist {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 42px;
    padding: 8px;

    border: none;
    border-radius: 8px;
    background: #BA2322;

    color: var(--text-primary);

    font-size: 16px;

    transition: transform 0.2s ease;
}
.setlists-add-setlist:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.setlists-add-setlist:active {
    transform: scale(0.99);
}



.setlists-search-header {
    display: flex;
    flex-direction: row;
    height: 56px;
    /* outline: 1px solid red; */
}

.setlists-search-left {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    min-height: 36px; 
    width: 24px; 
}

.setlists-search-center {
    display: flex;
    justify-content: center;
    flex: 1;
    min-height: 36px; 

    /* outline: 1px solid red; */
}

.setlists-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 0 16px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-radius: 12px;

    font-size: 18px;
    outline: none;
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: var(--text-primary);

}

.setlists-search-bar:focus {
    border-color: #c22d22;
    box-shadow: 0 0 0 3px rgba(194, 45, 34, 0.35);
}

.setlists-search-right {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    min-height: 36px;
    width: 36px; 
}


.setlists-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1px;
    padding: 4px 16px 32px;
    /* outline: 1px solid red; */
}

.setlist-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 156px;
    box-sizing: border-box;

    border-radius: 12px;
    text-decoration: none;

    background-color: var(--bg-card);
    border: 1px solid #333333;
    color: var(--text-primary);
}

.setlist-card-top {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0px;
    padding: 0px;
    width: 100%;

    /* outline: 1px solid red; */
}

.setlist-card-top-image-box {
    width: 156px;
    margin: 0px;
    padding: 12px;
    outline: 1px solid red;
}

.setlist-card-top-center {
    display: flex;
    flex-direction: column;
    flex: 1px;
    padding: 0px;
    padding-top: 16px;
    /* outline: 1px solid red; */
}

.setlist-card-name {
    display: flex;
    flex: 1;
    align-items: center;

    font-size: 24px;
    padding-left: 8px;
    outline: 1px solid red;
}
.setlist-card-info-row {
    display: flex;
    flex: 1;
    align-items: center;

    padding-left: 8px;

    font-size: 14px;
    color: #c3bdbd;
    outline: 1px solid red;
}
.setlist-card-edit-row {
    display: flex;
    flex: 1;
    align-items: center;

    padding-left: 8px;

    font-size: 14px;
    color: #c3bdbd;
    outline: 1px solid red;
}





.setlist-card-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    color: var(--color-primary);
    /* outline: 1px solid red; */
}


.setlist-card-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 0;
    width: 100%;
    height: 40px;

    background: transparent;
    
    font-size: 16px;
    color: var(--text--primary);
    /* outline: 1px solid red; */
}

.setlist-card-bottom-one, .setlist-card-bottom-two, 
.setlist-card-bottom-three, .setlist-card-bottom-four {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    gap: 8px;

    background-color: transparent;
    color: var(--text--primary);
    border: none;

    /* outline: 1px solid red; */
    cursor: pointer;
    transition: 
        transform 0.15s ease, 

}
.setlist-card-bottom-one {
    font-size: 16px;
    color: var(--color-primary);
}

.setlist-card-bottom-one:hover, .setlist-card-bottom-two:hover, 
.setlist-card-bottom-three:hover, .setlist-card-bottom-four:hover {
    transform: scale(1.02);
}

.setlist-card-bottom-one:active, .setlist-card-bottom-two:active, 
.setlist-card-bottom-three:active, .setlist-card-bottom-four:active {
    transform: scale(0.98);
}



