



.setlist-edit-artwork-display {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4/3;
    width: 100%;
    border-radius: 12px;
}

.setlist-edit-artwork-image {
    border-radius: 12px;
    aspect-ratio: 4/3;
    width: 90%;
    box-sizing: border-box;

    outline: 3px solid black;
}

.field-row-input {
    max-width: 100%;
}


.setlist-field-row-input-notes {
    flex: 1;

    padding: 16px;
    max-width: 100%;
    min-height: 128px;

    border: 1px solid #444;
    border-radius: 10px;

    background-color: #111;
    color: var(--text-primary);

    font-size: 16px;
    outline: none;
}