/* * {
    border: 1px solid red;
} */

.setlist-header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4px;
    min-height: 42px;

    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 8px;

    background-color: #111;
    color: var(--text-primary);
    
}

.setlist-header-back-button {
    height: 64px;
    width: 64px;
    margin-right: auto;

    border: none;

    background: transparent;
    color: var(--text-primary);

    font-size: 40px;
}

.setlist-header-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 600;
}

.setlist-header-right {
    margin-left: auto;
    height: 64px;
    width: 64px;
}

.setlist-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 56px;

    color: var(--text-primary);
    
    /* outline: 1px solid red; */
}
.setlist-content-header-section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    padding: 4px;
    margin: 0px;
    /* outline: 1px solid red; */
}
.setlist-content-header-box {
    display: flex;
    flex-direction: row;
    /* outline: 1px solid red; */
}
.setlist-content-header-time {
    display: flex;
    flex-direction: row;
}
.setlist-content-header-time:hover {
    cursor: pointer;
    transform: scale(1.02)
}
.setlist-content-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    color: var(--color-primary);

}
.setlist-content-header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-size: 18px;

    color: var(--text-primary);
}
.setlist-content-header-bottom {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px;
    padding: 4px;
    font-size: 14px;
    color: var(--text-muted)
}
.setlist-content-header-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 20px;
    color: var(--text-primary);
}



.setlist-content-box{
    display: flex;
    flex-direction: column;

    width: 100%; 
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    margin: 0px;
    /* padding: 8px 16px 32px; */
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;

    gap: 8px;

    /* outline: 1px solid red; */
}

.setlist-song-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 78px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;

    border-radius: 12px;
    text-decoration: none;

    background-color: var(--bg-card);
    border: 1px solid #333333;
    color: var(--text-primary);

    transition: 
        transform 0.1s ease, 
        background-color 120ms ease;
}
.setlist-song-card-main {
    display: flex;
    flex: 1;

    margin-left: 0px;
    padding-left: 0px;
    min-width: 0px;
    
    background: transparent;

    text-decoration: none;
    color: var(--text-primary);
}
.setlist-song-card:hover {
    transform: scale(1.02)
}
.setlist-song-card:active {
    transform: scale(0.98)
}

.setlist-card-position {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;

    height: 54px;
    width: 28px;
    flex-shrink: 0;
    line-height: 1;

    font-size: 28px;
    color: var(--text-muted);
}


.setlist-artwork {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 4px;
    margin-right: 4px;

    width: 60px;
    height: 60px;
    flex-shrink: 0;
    
    border-radius: 16px;
    background: #c22d22;
}
.setlist-art-display {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    width: 64px;
    height: 64px;

    background: #c22d22;
}

.setlist-art-display-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 55px;
    height: 55px;
    background: #c22d22;

    border: 1px solid #c22d22;;
}



.setlist-card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 8px;

    flex: 1;
    min-width: 0;
}
.setlist-card-top-row {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
}
.setlist-title {
    margin: 0;
    margin-left: 8px;

    font-size: 22px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.setlist-card-info {
    margin-left: 8px;
}
.setlist-tempo, .setlist-key {
    margin: 0;

    color: #b6b6b6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setlist-card-info {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;

    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.setlist-card-length {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    font-size: 20px;
    /* outline: 1px solid red; */
}

.setlist-bottom-divider {
    font-size: 8px;
    font-weight: 200;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0.8;
    color: var(--color-primary);
}

.setlist-options {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 0px;
    
    width: 54px;
    /* height: 54px; */
    flex-shrink: 0;
    background: transparent;
    
    color: var(--color-primary);
}
.setlist-drag:hover {
    transform: scale(1.03)
}
