


.setlist-header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4px;
    min-height: 42px;

    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 8px;

    background-color: #111;
    color: var(--text-primary);
    
}

.setlist-header-back-button {
    height: 64px;
    width: 64px;
    margin-right: auto;

    border: none;

    background: transparent;
    color: var(--text-primary);

    font-size: 40px;
}

.setlist-header-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 600;
}

.setlist-header-right {
    margin-left: auto;
    height: 64px;
    width: 64px;
}

.setlist-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 64px;

    color: var(--text-primary);
    font-size: 24px;
    
    outline: 1px solid red;
}

.setlist-content-box{
    display: flex;
    flex-direction: column;

    width: 100%; 
    height: 100%;

    margin: 0px;
    padding: 8px 16px 32px;

    gap: 8px;

    outline: 1px solid red;
}

.setlist-song-card {

    width: 100%;
    height: 64px;

    background: gray;
    color: white;
}
