# Binaries
bandplan
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

static/uploads/*
!static/uploads/.gitkeep
!static/uploads/profile-images/
static/uploads/profile-images/*
!static/uploads/profile-images/.gitkeep