

{{ define "head" }}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BandPlan</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/navigation.css">
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/body.css">

    <link rel="stylesheet" href="/static/songs/songs.css">
    <link rel="stylesheet" href="/static/songs/songs-add.css">
    <link rel="stylesheet" href="/static/songs/song.css">
    <link rel="stylesheet" href="/static/songs/song-edit.css">

    <link rel="stylesheet" href="/static/setlists/setlists.css">
    <link rel="stylesheet" href="/static/setlists/setlist.css">
    
    <link rel="stylesheet" href="/static/goals.css">
    <link rel="stylesheet" href="/static/calendar.css">
    <link rel="stylesheet" href="/static/files.css">
    <link rel="stylesheet" href="/static/promotion.css">
    <link rel="stylesheet" href="/static/events.css">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/profile/profile-pic.css">

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.21/index.global.min.js"></script>

  </head>
{{ end }}
  
  