

{{ define "head" }}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BandPlan</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.27/dist/interact.min.js"></script>

    <link rel="stylesheet" href="/static/css/core/navigation.css">
    <link rel="stylesheet" href="/static/css/core/global.css">
    <link rel="stylesheet" href="/static/css/core/body.css">
    <link rel="stylesheet" href="/static/css/core/variables.css">

    <link rel="stylesheet" href="/static/css/pages/chat.css">

    <link rel="stylesheet" href="/static/css/pages/songs/songs.css">
    <link rel="stylesheet" href="/static/css/pages/songs/songs-add.css">
    <link rel="stylesheet" href="/static/css/pages/songs/song.css">
    <link rel="stylesheet" href="/static/css/pages/songs/song-edit.css">
    <link rel="stylesheet" href="/static/css/pages/songs/lyrics.css">
    <link rel="stylesheet" href="/static/css/pages/songs/song-download.css">
    <link rel="stylesheet" href="/static/css/pages/songs/songs-itunes-results.css">

    <link rel="stylesheet" href="/static/css/pages/setlists/setlists.css">
    <link rel="stylesheet" href="/static/css/pages/setlists/setlist-add.css">
    <link rel="stylesheet" href="/static/css/pages/setlists/setlist-edit.css">
    <link rel="stylesheet" href="/static/css/pages/setlists/setlist.css">
    <link rel="stylesheet" href="/static/css/pages/setlists/setlist-reorder.css">

    <link rel="stylesheet" href="/static/css/pages/transitions/transition.css">
    
    <link rel="stylesheet" href="/static/css/pages/goals.css">
    <link rel="stylesheet" href="/static/css/pages/calendar.css">
    <link rel="stylesheet" href="/static/css/pages/promotion.css">
    <link rel="stylesheet" href="/static/css/pages/events.css">
    <link rel="stylesheet" href="/static//css/pages/files.css">

    
    <link rel="stylesheet" href="/static/css/pages/profile/profile.css">
    <link rel="stylesheet" href="/static/css/pages/profile/admin.css">

    <!-- <script src="/static/js/main.js"></script> -->
    <script src="/static/js/main.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.21/index.global.min.js"></script>

  </head>
{{ end }}
  
  