
{{ define "left_sidebar_menu" }}

  <div class="side-menu" id="left-menu">
    <div class="side-menu-header">
      <button 
        class="close-left-menu-button" 
        type="button" 
        id="close-left-menu">
        {{ template "svg_left_menu_close" . }}
      </button>
    </div>

    <div class="side-menu-links">

      <a
        class="left-menu-links-row"
        href="/">

        <span class="left-menu-links-icon">
          {{ template "svg_chat" . }}
        </span>

        <span class="left-menu-links-link">
          Chat
        </span>
      </a>

      <a
        class="left-menu-links-row"
        href="/songs">
        
        <span class="left-menu-links-icon">
          {{ template "svg_songs" . }}
        </span>

        <span class="left-menu-links-link">
          Songs
        </span>
      </a>

      <a 
        class="left-menu-links-row"
        href="/setlists">

        <span class="left-menu-links-icon">
          {{ template "svg_setlists" . }}
        </span>

        <span class="left-menu-links-link">
          Setlists
        </span>          
      </a>

      <a
        class="left-menu-links-row"
        href="/promotion">

        <span class="left-menu-links-icon">
          {{ template "svg_promotion" . }}
        </span>

        <span class="left-menu-links-link">
          Promotion
        </span>
      </a>

      <a
        class="left-menu-links-row" 
        href="/goals">
        
        <span class="left-menu-links-icon">
          {{ template "svg_goals" . }}
        </span>

        <span class="left-menu-links-link">
          Goals
        </span>
      </a>

      <a 
        class="left-menu-links-row"
        href="/calendar">

        <span class="left-menu-links-icon">
          {{ template "svg_calendar" . }}
        </span>

        <span class="left-menu-links-link">
          Calendar
        </span>
      </a>

      <a
        class="left-menu-links-row"
        href="/events">
        
        <span class="left-menu-links-icon">
          {{ template "svg_events" . }}
        </span>

        <span class="left-menu-links-link">
          Events
        </span>
      </a>

      <a 
        class="left-menu-links-row"
        href="/files"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">

        <span class="left-menu-links-icon">
          {{ template "svg_files" . }}
        </span>

        <span class="left-menu-links-link">
          Files
        </span>
      </a>

    </div>
  </div>

{{ end }}


{{ define "backdrop" }}
  <div
    id="side-menu-backdrop"
    class="side-menu-backdrop">
  </div>
{{ end }}




{{ define "sidebar_scripts" }}
<script>
  const leftMenu = document.getElementById("left-menu")
  const leftMenuButton = document.getElementById("menu-button")
  const closeLeftMenuButton = document.getElementById("close-left-menu");

  const rightMenu = document.getElementById("right-menu");
  const rightMenuButton = document.getElementById("right-menu-button");
  const closeRightMenuButton = document.getElementById("close-right-menu");

  const sideMenuBackdrop = document.getElementById("side-menu-backdrop");

  function openLeftMenu() {
    rightMenu?.classList.remove("toggle");
    leftMenu?.classList.add("toggle");
    sideMenuBackdrop?.classList.add("open");
    
  }

  function openRightMenu() {
    leftMenu?.classList.remove("toggle");
    rightMenu?.classList.add("toggle");
    sideMenuBackdrop?.classList.add("open");
  }

  function closeAllMenus() {
    leftMenu?.classList.remove("toggle");
    rightMenu?.classList.remove("toggle");
    sideMenuBackdrop?.classList.remove("open");
  }

  function toggleLeftMenu() {
    if (leftMenu?.classList.contains("toggle")) {
      closeLeftMenu();
    } else {
      openLeftMenu();
    }
  }

  function toggleRightMenu() {
    if (rightMenu?.classList.contains("toggle")) {
      closeRightMenu();
    } else {
      openRightMenu();
    }
  }

  leftMenuButton?.addEventListener("click", (event) => {
    event.stopPropagation();
    toggleLeftMenu();
  });

  rightMenuButton?.addEventListener("click", (event) => {
    event.stopPropagation();
    toggleRightMenu();
  });

  closeLeftMenuButton?.addEventListener("click", closeAllMenus);
  closeRightMenuButton?.addEventListener("click", closeAllMenus);
  sideMenuBackdrop?.addEventListener("click", closeAllMenus);
</script>
{{ end }}





