
{{ define "left_sidebar_menu" }}

  <div class="side-menu" id="left-menu">
    <div class="side-menu-header">
      <button 
        class="close-left-menu-button" 
        type="button" 
        id="close-left-menu">
        {{ template "svg_left_menu_close" . }}
      </button>
    </div>

    <div class="side-menu-links">

      <button
        class="left-menu-links-row"
        hx-post="/"
        hx-target=".content-box"
        hx-swap="innerHTML"
        type="button">

        <span class="left-menu-links-icon">
          {{ template "svg_chat" . }}
        </span>

        <span class="left-menu-links-link">
          Chat
        </span>
      </button>

      <button
        class="left-menu-links-row"
        hx-get="/songs"
        hx-target=".content-box"
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">
        
        <span class="left-menu-links-icon">
          {{ template "svg_songs" . }}
        </span>

        <span class="left-menu-links-link">
          Songs
        </span>
      </button>

      <button 
        class="left-menu-links-row"
        hx-post="/setlists" 
        hx-target=".content-box" 
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">

        <span class="left-menu-links-icon">
          {{ template "svg_setlists" . }}
        </span>

        <span class="left-menu-links-link">
          Setlists
        </span>          
      </button>

      <button
        class="left-menu-links-row"
        hx-get="/promotion"
        hx-target=".content-box"
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">

        <span class="left-menu-links-icon">
          {{ template "svg_promotion" . }}
        </span>

        <span class="left-menu-links-link">
          Promotion
        </span>
      </button>

      <button 
        class="left-menu-links-row"
        hx-post="/goals" 
        hx-target=".content-box" 
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">
        
        <span class="left-menu-links-icon">
          {{ template "svg_goals" . }}
        </span>

        <span class="left-menu-links-link">
          Goals
        </span>
      </button>

      <a 
        class="left-menu-links-row"
        href="/calendar"
        >

        <span class="left-menu-links-icon">
          {{ template "svg_calendar" . }}
        </span>

        <span class="left-menu-links-link">
          Calendar
        </span>
      </a>

      <button
        class="left-menu-links-row"
        hx-get="/events"
        hx-target=".content-box"
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">
        
        <span class="left-menu-links-icon">
          {{ template "svg_events" . }}
        </span>

        <span class="left-menu-links-link">
          Events
        </span>
      </button>

      <button 
        class="left-menu-links-row"
        hx-post="/files" 
        hx-target=".content-box" 
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">

        <span class="left-menu-links-icon">
          {{ template "svg_files" . }}
        </span>

        <span class="left-menu-links-link">
          Files
        </span>
      </button>
    </div>
  </div>

{{ end }}


{{ define "left_sidebar_script" }}
  <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
{{ end }}





{{ define "sidebar_scripts" }}
<script>
  console.log("\n\nSIDEBAR SCRIPTS: ----------------------------------------")

  const leftMenu = document.getElementById("left-menu");
  const leftMenuButton = document.getElementById("menu-button");
  const closeLeftMenuButton = document.getElementById("close-left-menu");
  console.log("left menu:              ", leftMenu)
  console.log("left menu button:       ", leftMenuButton)
  console.log("close left menu button: ", closeLeftMenuButton)

  const rightMenu = document.getElementById("right-menu");
  const rightMenuButton = document.getElementById("right-menu-button");
  const closeRightMenuButton = document.getElementById("close-right-menu");

  leftMenuButton?.addEventListener("click", () => {
    leftMenu.classList.toggle("toggle");
    rightMenu?.classList.remove("toggle");
  });

  closeLeftMenuButton?.addEventListener("click", () => {
    leftMenu.classList.remove("toggle");
  });

  rightMenuButton?.addEventListener("click", () => {
    rightMenu.classList.toggle("toggle");
    leftMenu?.classList.remove("toggle");
  });

  closeRightMenuButton?.addEventListener("click", () => {
    rightMenu.classList.remove("toggle");
  });

  document.addEventListener("click", (event) => {
    const clickedInsideLeftMenu = leftMenu?.contains(event.target);
    const clickedLeftMenuButton = leftMenuButton?.contains(event.target);

    if (!clickedInsideLeftMenu && !clickedLeftMenuButton) {
      leftMenu?.classList.remove("toggle");
    }

    const clickedInsideRightMenu = rightMenu?.contains(event.target);
    const clickedRightMenuButton = rightMenuButton?.contains(event.target);

    if (!clickedInsideRightMenu && !clickedRightMenuButton) {
      rightMenu?.classList.remove("toggle");
    }
  });
</script>
{{ end }}






