

{{ define "right_sidebar" }}

  <div class="right-menu" id="right-menu">
    <div class="right-menu-header">
      <button 
        class="close-right-menu-button" 
        type="button" 
        id="close-right-menu">
        {{ template "svg_right_menu_close" . }}
      </button>
    </div>

    <div class="right-menu-links">

      <button 
        class="right-menu-links-row">
        <span class="right-menu-links-icon">
          {{ template "svg_settings" . }}
        </span>
        
        <span class="right-menu-links-link">
          Settings
        </span>
      </button>

      <a 
        class="right-menu-links-row"
        href="/profile-pic">

        <span class="right-menu-links-icon">
          {{ template "svg_upload_image" . }}
        </span>

        <span class="right-menu-links-link">
          Profile
        </span>
      </a>

      <button 
        class="right-menu-links-row"
        hx-post="/delete" 
        hx-target="#messages" 
        hx-swap="innerHTML">

        <span class="right-menu-links-icon">
          {{ template "svg_delete_all" . }}
        </span>
        <span class="right-menu-links-link">
          Delete All Messages
        </span>
      </button>

    
    </div>
  </div>


{{ end }}


{{ define "right_sidebar_script" }}
  <script>
    document.getElementById("right-menu-button").addEventListener("click", () => {
      document.getElementById("right-menu").classList.toggle("toggle");
    });
  </script>

  <script>
    document.getElementById("close-right-menu").addEventListener("click", () => {
      document.getElementById("right-menu").classList.toggle("toggle");
    });
  </script>
{{ end }}