
{{ define "right_sidebar" }}

  <div class="right-menu" id="right-menu">
    <div class="right-menu-header">
      <button 
        class="close-right-menu-button" 
        type="button" 
        id="close-right-menu">
        {{ template "svg_right_menu_close" . }}
      </button>
    </div>

    <div class="right-menu-links">

      <a 
        class="right-menu-links-row"
        href="/settings">
        <span class="right-menu-links-icon">
          {{ template "svg_settings" . }}
        </span>
        
        <span class="right-menu-links-link">
          Settings
        </span>
      </a>

      <a 
        class="right-menu-links-row"
        href="/profile">

        <span class="right-menu-links-icon">
          {{ template "svg_upload_image" . }}
        </span>

        <span class="right-menu-links-link">
          Profile
        </span>
      </a>

      <a 
        class="right-menu-links-row"
        href="/admin">

        <span class="right-menu-links-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-user-icon lucide-shield-user"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="M6.376 18.91a6 6 0 0 1 11.249.003"/><circle cx="12" cy="11" r="4"/></svg>
        </span>

        <span class="right-menu-links-link">
          admin
        </span>
      </a>

      <a 
        class="right-menu-links-row"
        hx-post="/delete" 
        hx-target="#messages" 
        hx-swap="innerHTML">

        <span class="right-menu-links-icon">
          {{ template "svg_delete_all" . }}
        </span>
        <span class="right-menu-links-link">
          Delete All Messages
        </span>
      </a>
    </div>
  </div>

{{ end }}

