

{{ define "svg_left_menu_close" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="44" height="44" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2.5" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-chevron-left-icon lucide-chevron-left">
    <path d="m15 18-6-6 6-6"/>
  </svg>
{{ end }}


{{ define "svg_right_menu_close" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="44" height="44" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2.5" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-chevron-right-icon lucide-chevron-right">
    <path d="m9 18 6-6-6-6"/>
  </svg>
{{ end }}


{{ define "svg_chat" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-messages-square-icon lucide-messages-square">
    <path d="M16 10a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 14.286V4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"/>
    <path d="M20 9a2 2 0 0 1 2 2v10.286a.71.71 0 0 1-1.212.502l-2.202-2.202A2 2 0 0 0 17.172 19H10a2 2 0 0 1-2-2v-1"/>
  </svg>
{{ end }}


{{ define "svg_songs" }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-disc">
    <circle cx="12" cy="12" r="10"/>
    <circle cx="12" cy="12" r="2"/>
  </svg>
{{ end }}


{{ define "svg_setlists" }}
  <svg xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" viewBox="0 0 24 24" 
    fill="none" stroke="currentColor" 
    stroke-width="2" stroke-linecap="round" 
    stroke-linejoin="round" 
    class="lucide lucide-list-video-icon lucide-list-video">
    <path d="M21 5H3"/><path d="M10 12H3"/>
    <path d="M10 19H3"/>
    <path d="M15 12.003a1 1 0 0 1 1.517-.859l4.997 2.997a1 1 0 0 1 0 1.718l-4.997 2.997a1 1 0 0 1-1.517-.86z"/>
  </svg>
{{ end }}


{{ define "svg_promotion" }}
  <svg xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-circle-fading-plus-icon lucide-circle-fading-plus">
    <path d="M12 2a10 10 0 0 1 7.38 16.75"/><path d="M12 8v8"/>
    <path d="M16 12H8"/><path d="M2.5 8.875a10 10 0 0 0-.5 3"/>
    <path d="M2.83 16a10 10 0 0 0 2.43 3.4"/>
    <path d="M4.636 5.235a10 10 0 0 1 .891-.857"/>
    <path d="M8.644 21.42a10 10 0 0 0 7.631-.38"/>
  </svg>
{{end}}


{{ define "svg_goals" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-list-todo-icon lucide-list-todo">
    <path d="M13 5h8"/><path d="M13 12h8"/>
    <path d="M13 19h8"/><path d="m3 17 2 2 4-4"/>
    <rect x="3" y="4" width="6" height="6" rx="1"/>
  </svg>
{{ end }}


{{ define "svg_calendar" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-calendar-days-icon lucide-calendar-days">
    <path d="M8 2v4"/><path d="M16 2v4"/>
    <rect width="18" height="18" x="3" y="4" rx="2"/>
    <path d="M3 10h18"/><path d="M8 14h.01"/>
    <path d="M12 14h.01"/><path d="M16 14h.01"/>
    <path d="M8 18h.01"/><path d="M12 18h.01"/>
    <path d="M16 18h.01"/>
  </svg>
{{ end }}


{{ define "svg_events" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-calendar-clock-icon lucide-calendar-clock">
    <path d="M16 14v2.2l1.6 1"/><path d="M16 2v4"/>
    <path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/>
    <path d="M3 10h5"/><path d="M8 2v4"/>
    <circle cx="16" cy="16" r="6"/>
  </svg>
{{ end }}


{{ define "svg_files" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-folder-icon lucide-folder">
    <path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/>
  </svg>
{{ end }}


{{ define "svg_settings" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2.5" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-settings-icon lucide-settings">
    <path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/>
    <circle cx="12" cy="12" r="3"/>
  </svg>
{{ end }}


{{ define "svg_upload_image" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="32" height="32" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-image-up-icon lucide-image-up">
    <path d="M10.3 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10l-3.1-3.1a2 2 0 0 0-2.814.014L6 21"/>
    <path d="m14 19.5 3-3 3 3"/><path d="M17 22v-5.5"/>
    <circle cx="9" cy="9" r="2"/>
  </svg>
{{ end }}


{{ define "svg_delete_all" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" 
    viewBox="0 0 24 24" fill="none" 
    stroke="currentColor" stroke-width="2.5" 
    stroke-linecap="round" stroke-linejoin="round" 
    class="lucide lucide-trash2-icon lucide-trash-2">
    <path d="M10 11v6"/><path d="M14 11v6"/>
    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
    <path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
  </svg>
{{ end }}


{{ define "svg_logout" }}
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" height="24" viewBox="0 0 24 24" 
    fill="none" stroke="currentColor" 
    stroke-width="2.5" stroke-linecap="round" 
    stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out">
    <path d="m16 17 5-5-5-5"/><path d="M21 12H9"/>
    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
  </svg>
{{ end }}