

.admin-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 36px;

    font-size: 24px;

    /* outline: 1px solid red; */
}

.admin-lower-content-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.admin-gen-access-code {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    margin-top: 24px;
    padding: 8px;

    gap: 8px;

    background-color: var(--bg-card);
    border: 1px solid #333;
    border-radius: 12px;
}

.admin-gen-access-header {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 8px;
}

.admin-gen-access-header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* outline: 1px solid red; */
}
.admin-gen-access-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--color-primary)
}
.admin-gen-access-text {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    /* outline: 1px solid red; */
}
.admin-gen-access-header-row-top {
    font-size: 24px;
    margin-bottom: 4px;
    /* outline: 1px solid green; */
}
.admin-gen-access-header-row-bottom {
    font-size: 14px;
    color: var(--text-secondary);
    /* outline: 1px solid yellow; */
}

.admin-gen-access-code-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    padding: 8px;

    gap: 12px;
    border-radius: 12px;
    background: var(--color-primary);
    border: none;
    color: var(--text-primary);

    font-size: 16px;
    transition: 
            transform 0.15s ease;

    /* outline: 1px solid red; */
}
.admin-gen-access-code-button:hover {
    cursor: pointer;
    transform: scale(1.03);
    
}
.admin-gen-access-code-button:active {
    cursor: pointer;
    transform: scale(0.98);
}

.admin-access-code-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 90%;

    padding: 8px;

    border-radius: 12px;
    background: var(--bg-input);
    color: var(--text-primary);

    letter-spacing: 1px;
    font-size: 24px;

    border-color: #c22d22;
    box-shadow: 0 0 0 3px rgba(194, 45, 34, 0.35);
    /* outline: 1px solid red; */
}

.admin-access-code {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.admin-display-field-copy {
    position: absolute;
    right: 12px;
    /* display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-left: auto;
    margin-right: 8px;
    padding: 0px; */

    border: none;
    background: transparent;
    color: #bbbbbb;
    cursor: pointer;
    /* outline: 1px solid red; */
    
    transition: color 150ms ease;
}
.admin-display-field-copy .check-icon {
    display: none;
    color: #BA2322;
}
.admin-display-field-copy.copied {
    color: #BA2322;
}
.admin-display-field-copy.copied .copy-icon {
    display: none;
}
.admin-display-field-copy.copied .check-icon {
    display: inline;
}
.admin-display-field-copy:active {
    transform: scale(0.90);
}












.admin-info-card {
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin: 0px;
    margin-top: 24px;
    padding: 0px;

    background-color: var(--bg-card);
    border: 1px solid #333;
    border-radius: 12px;
}

.admin-info-card-header {
    height: 32px;
    width: 100%;
    padding: 8px;
    padding-left: 16px;
    font-size: 20px;
    outline: 1px solid red;
}

.admin-divider {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background: rgba(255, 255, 255, 0.08)
}

.admin-member-pic {
    border-radius: 50%;
    height: 48px;
}

.admin-info-row {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;

    
    /* outline: 1px solid red; */
}
.admin-info-row:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 
        transform 0.15s ease;
}
.admin-info-row:active {
    cursor: pointer;
    transform: scale(0.98);
    transition: 
        transform 0.15s ease, 
}

.admin-info-row-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 64px;
    
    /* outline: 1px solid green; */
}
.admin-info-row-pic:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.admin-info-row-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 8px;
    
}

.admin-row-top {
    font-size: 20px;
}

.admin-row-bottom {
    color: #b9b9b9;
}

.admin-info-row-role {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 96px;

    font-size: 20px;
    /* outline: 1px solid red; */
}


