

.admin-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 48px;

    font-size: 24px;

    outline: 1px solid red;
}

.admin-lower-content-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.admin-gen-access-code {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90%;
    height: 64px;
    margin-top: 24px;
    padding: 8px;

    gap: 8px;

    background-color: var(--bg-card);
    border: 1px solid #333;
    border-radius: 12px;
}
.admin-gen-access-code-button {
    height: 48px;
    padding: 8px;
    border-radius: 12px;
    background: var(--color-primary);
    border: none;
    color: var(--text-primary);

    font-size: 16px;
    transition: 
            transform 0.15s ease;

    outline: 1px solid red;
}
.admin-gen-access-code-button:hover {
    cursor: pointer;
    transform: scale(1.03);
    
}
.admin-gen-access-code-button:active {
    cursor: pointer;
    transform: scale(0.98);
}

.admin-access-code {
    display: flex;
    flex: 1;
    height: 48px;

    border-radius: 12px;
    background: var(--bg-input);
    color: var(--text-primary);

    outline: 1px solid red;
}

.admin-info-card {
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin: 0px;
    margin-top: 24px;
    padding: 0px;

    background-color: var(--bg-card);
    border: 1px solid #333;
    border-radius: 12px;
}

.admin-divider {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background: rgba(255, 255, 255, 0.08)
}

.admin-member-pic {
    border-radius: 50%;
    height: 48px;
}

.admin-info-row {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;

    
    /* outline: 1px solid red; */
}
.admin-info-row:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 
        transform 0.15s ease;
}
.admin-info-row:active {
    cursor: pointer;
    transform: scale(0.98);
    transition: 
        transform 0.15s ease, 
}

.admin-info-row-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 64px;
    
    outline: 1px solid green;
}
.admin-info-row-pic:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.admin-info-row-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 8px;
    
    outline: 1px solid yellow;
}

.admin-row-top {
    font-size: 20px;
}

.admin-row-bottom {
    color: #b9b9b9;
}

.admin-info-row-role {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 96px;

    font-size: 20px;
    outline: 1px solid red;
}


