

.profile-overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.profile-overview-image {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    max-width: 45%;
}

.profile-pic-image-display {
    margin: 24px;   
    width: 200px;
    height: 200px;

    border-radius: 200px;
    border: 2px solid #c22d22;
    
    background-color: blueviolet
}

.filepath-input {
    display: inline-block;
    justify-content: center;
    align-items: center;

    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;

    padding: 12px 20px;
    background: #c22d22;

    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.profile-divider {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background: rgba(255, 255, 255, 0.08)
}


.profile-overview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

}

.profile-username {
    font-size: 36px;
    font-weight: 600;
}

.profile-handle {
    font-size: 24;
}

.profile-lower-content-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.profile-info-card {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 90%;

    background-color: var(--bg-card);
    border: 1px solid #333;
    border-radius: 12px;
}

.profile-info-row {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;
    height: 64px;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;
}

.profile-info-row-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
}
.profile-info-row-svg:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.profile-info-row-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.profile-info-row-content:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 
        transform 0.15s ease, 
}

.profile-row-bottom {
    color: #b9b9b9;
}


.profile-logout-box {
    display: inline-block;
    justify-content: center;
    align-items: center;

    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;

    padding: 12px 20px;
    background: transparent;
    line-height: 1;

    font-size: 24px;
    color: #c22d22;;
    border-radius: 8px;
    cursor: pointer;
    
}
.profile-logout-box:hover {
    transform: scale(1.05);
}

.profile-logout-box-button {
    padding: 0px;
    line-height: 1;
    /* outline: 1px solid red; */
}
