:root {

    /* Brand */

    --color-primary: #BA2322;
    --color-primary-hover: #D62E2D;
    --color-primary-dark: #931A1A;

    /* Secondary */

    --color-secondary: #3F6FAF;
    --color-secondary-hover: #4B7FC4;
    --color-secondary-dark: #31578A;
    --color-secondary-light: #4A8BE8;

    /* Tertiary */

    --color-tertiary: #2F8F83;
    --color-tertiary-hover: #3AA396;
    --color-tertiary-dark: #246F66;
    --color-tertiary-light: #35B7A5;

    /* Backgrounds */

    --bg-page: #080808;
    --bg-panel: #111111;
    --bg-card: #1a1a1a;
    --bg-input: #242424;
    --bg-light: #707070;

    /* Borders */

    --border: #303030;
    --border-light: #404040;

    /* Text */

    --text-primary: #FAFAFA;
    --text-secondary: #dcdcdc;
    --text-muted: #999999;

    /* Status */

    --success: #2FA84F;
    --warning: #E39A18;
    --danger: #D64040;

}