/* * {
    outline: 1px solid red;
} */

.songs-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 0px;
    padding: 4px 16px 4px;
    
    height: 64px;
    width: 100%
}

.songs-header-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    height: 100%;
    padding-left: 4px;

    /* outline: 1px solid red; */
}

.songs-header-center {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;

    /* outline: 1px solid red; */
}

.songs-header-top {
    font-size: 32px;
    color: var(--text-primary);
}
.songs-header-bottom {
    font-size: 14px;
    color: var(--text-muted);
}



.songs-header-right, .songs-header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 80px;

    padding-left: 4px;

}

.songs-import-song {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    height: 42px;
    padding: 8px;

    border: none;
    border-radius: 8px;
    background: var(--bg-panel);

    gap: 4px;

    border: 2px solid var(--border);
    color: var(--text-primary);

    font-size: 14px;
    text-decoration: none;
    transition: transform 0.2s ease;
}
.songs-import-button {
    color: var(--color-primary);
}

.songs-add-song {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    height: 42px;
    padding: 8px;

    border: none;
    border-radius: 8px;
    background: #BA2322;

    color: var(--text-primary);

    font-size: 14px;
    text-decoration: none;
    transition: transform 0.2s ease;
}
.songs-add-song:hover, .songs-import-song:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.songs-add-song:active, .songs-import-song:active {
    transform: scale(0.99);
}






.open-add-song-button {
    margin: auto;

    padding: 0;
    border: none;
    background: transparent;
    text-decoration: none;

    font-size: 50px;
    color: var(--text-primary);
    line-height: 1;
}

.songs-search-header {
    display: flex;
    flex-direction: row;
    height: 56px;

    background-color: rgba(0, 0, 0, 1);
}

.songs-search-bar-left {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    min-height: 36px; 
    width: 20px;
}

.songs-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 4px;

    padding: 0 16px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-radius: 12px;

    font-size: 20px;
    outline: none;
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: var(--text-primary);
}

.songs-search-bar:focus {
    border-color: #c22d22;
    box-shadow: 0 0 0 3px rgba(194, 45, 34, 0.35);
}

.songs-search-bar-left {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    min-height: 36px; 
    width: 20px;
}

.songs-search-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    min-height: 36px; 
    width: 96px;
}
.songs-search-bar-right-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;

    border: none;
    background: transparent;
    color: var(--color-primary);
}
.songs-search-bar-right:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 
        transform 0.15s ease, 
        background-color 120ms ease;
}
.songs-search-bar-right:active {
    transform: scale(0.9);
    transition: 
        transform 0.15s ease, 
        background-color 120ms ease;
}


.songs-count-bar {
    display: flex;
    align-items: center;

    padding: 4px;
    margin-bottom: 4px;
    height: 24px;
    width: 100%;

    margin-left: 24px;
    font-size: 14;
    color: var(--text-muted);
}

.songs-list-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* height: 100%; */
    min-height: 0;
    margin: 0;

}

.songs-list {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: flex-start;
    align-items: stretch;

    margin: 0;
    padding: 16px;
    padding-top: 8px;
    gap: 10px;

    list-style-type: none;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 1);

    overflow-y: auto;
    min-height: 0;
}

.song-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 78px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;

    border-radius: 12px;
    text-decoration: none;

    background-color: var(--bg-card);
    border: 1px solid #333333;
    color: var(--text-primary);

    transition: 
        transform 0.1s ease, 
        background-color 120ms ease;

    /* outline: 1px solid red; */
}
.song-card:hover {
    border: 1px solid rgba(51,51,51,.08);
    transform: scale(1.03);
    transition: 
        transform 0.15s ease, 
        background-color 120ms ease;
}

.song-card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    margin-left: 0px;
    padding-left: 0px;
    min-width: 0px;
    
    background: transparent;

    text-decoration: none;
    color: var(--text-primary);
}

.song-index {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;

    height: 54px;
    width: 28px;
    flex-shrink: 0;
    line-height: 1;

    font-size: 28px;
    color: var(--text-muted);
}

.song-artwork {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 4px;
    margin-right: 4px;

    width: 60px;
    height: 60px;
    flex-shrink: 0;
    
    border-radius: 16px;
    background: #c22d22;
}
.songs-art-display {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    width: 64px;
    height: 64px;

    background: #c22d22;
}
.songs-art-display-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 55px;
    height: 55px;
    background: #c22d22;

    border: 1px solid #c22d22;;
}

.song-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 8px;

    flex: 1;
    min-width: 0;
    /* height: 54px; */
    
    /* gap: 4px; */

}

.song-card-top-row {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
}

.song-card-middle-row {
    display: flex;
    align-items: center;

    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
}
    

.song-card-bottom-row {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    /* margin-left: 8px; */
    /* gap: 4px; */

    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    /* outline: 1px solid red; */
}

.song-title {
    margin: 0;
    margin-left: 8px;

    font-size: 22px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-title {
    margin: 0;
    margin-left: 8px;
    min-width: 0;

    font-size: 16px;
    color: #c3bdbd;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-card-bottom-divider {
    font-size: 6px;
    font-weight: 200;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0.8;
    color: var(--color-primary);
}

.recording-bpm {
    margin: 0;
    margin-left: 8px;

    color: #b6b6b6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.length {
    margin: 0;
    min-width: 0;

    color: #c3bdbd;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musical-key {
    margin: 0;
        /* margin-left: 8px; */

    color: #d8d8d8;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.empty-songs-message {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.song-card-options {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 0px;
    
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    background: transparent;

    /* outline: 1px solid blue; */
}
.song-card-options-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    padding: 0;
    border: none;
    border-radius: 50%;

    background: transparent;
    color: var(--color-primary);
    cursor: pointer;
}

.song-card-options-button:hover {
    background-color: rgba(255, 255, 255, 0.10);
    transform: scale(1.1);
}


.song-popup-menu {
    display: none;

    position: absolute;
    top: 44px;
    right: 0;
    z-index: 1000;

    min-width: 170px;
    padding: 6px;

    font: 18px;

    overflow: visible;

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.14);

    background-color: rgba(35, 35, 35, 0.92);
    backdrop-filter: blur(20px);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.35),
        0 1px 2px rgba(0, 0, 0, 0.25);
}

.song-setlists-popup-menu {
  display: none;

  position: fixed;
    z-index: 1000;
}

.songs-setlists.open .song-setlists-popup-menu {
  display: block;
}

.song-setlists-popup-menu {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);

  width: min(344px, calc(100vw - 32px));
  padding: 16px;

  font-size: 18px;

  border-radius: 14px;
  border: 2px solid var(--color-primary);

  background-color: rgba(35, 35, 35, 0.92);
  backdrop-filter: blur(24px);

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.5),
    0 1px 2px rgba(0, 0, 0, 0.25);
}

.song-setlists-popup-menu.open {
  display: block;
}






.song-card-options.open .song-popup-menu {
    display: flex;
    flex-direction: column;
}

.song-popup-item {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 42px;
    padding: 8px 12px;

    box-sizing: border-box;

    border: none;
    border-radius: 9px;
    background: transparent;

    color: var(--text-primary);
    text-decoration: none;
    font: inherit;
    font-size: 24px;
    text-align: left;

    cursor: pointer;
}

.song-popup-item:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.song-popup-item.danger {
    color: #c22d22
}

.song-setlists-card-options {
    position: relative;
    z-index: 20;
}

.song-setlists-backdrop {
	position: fixed;
	inset: 0;
	z-index: 999;

	display: none;

	background: rgba(0, 0, 0, 0.45);
}

.song-setlists-backdrop.open {
	display: block;
}


.popup-menu-divider {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background: rgba(255, 255, 255, 0.08)
}