

.home-content-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    margin: 0;

    padding: 4px 16px 32px;
    overflow-y: auto;
}


.home-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    /* height: 192px; */

    margin: 0px;
    padding: 8px 0px 8px;

    /* outline: 1px solid red; */
    gap: 16px;
    
}

.home-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: 1px solid blue;

    padding: 8px;

    background: var(--bg-card);
    outline: var(--border);
}

#home-row-one{
    height: 188px;
}

#home-row-two {
    height: 198px;
}

#home-row-three {
    height: 128px;
}

#home-row-four {
    height: 128px;
}

.home-box-header-row {
    display: flex;
    align-items: center;
    width: 100%; 
    padding-left: 4px;
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 400;
    color: var(--text-primary);
}

.home-box-header-row span {
    color: var(--color-primary);
}

.home-box-header-row h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;;
    gap: 8px;

    font-size: 18px;
    font-weight: 500;
}

.home-box-header-view {
    margin-left: auto;
    padding-right: 4px;

    border: none;
    background: transparent;

    font-size: 14px;
    text-decoration: none;
    color: var(--color-primary);
}

.home-box-header-view:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.home-box-header-view:active {
    transform: scale(0.98);
    opacity: 0.9;
}

#home-box-event:hover {
    transform: scale(1.01);
}
#home-box-event:active {
    transform: scale(0.98);
    opacity: 0.9;
}

.home-event-card {
    display: grid;
    grid-template-columns: 116px 1fr 44px;

    min-height: 0;
    margin: 0px;
    padding: 8px;

    overflow: hidden;
    text-decoration: none;
    color: var(--text-primary);
}

#home-event-image img {
    width: 100%;
    height: 100%;

    margin: auto;
    /* padding: 4px; */

    border-radius: 12px;
}

#home-event-details {
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

#home-event-details h1 {
    display: -webkit-box;
    margin: 0px 0px 8px;
    padding: 0;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;

    font-size: 18px;
    font-weight: 500;
}

#home-event-details h2 {
    display: flex;
    align-items: center;

    margin: 4px 0px 0px;
    padding: 0;

    gap: 8px;

    font-size: 14px;
    font-weight: 400;
    color: var(--text-muted);
}

#home-event-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 100%;

    margin: 0;
    margin-left: auto;
    padding: 0;
    color: var(--color-primary);
}

#home-event-button:hover {
    transform: scale(1.02);
}

#home-event-button:active {
    transform: scale(0.98);
    opacity: 0.9;
}










.event-card-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 132px;

    padding: 0px;
    font-size: 24px;

    text-decoration: none;
    color: var(--text-primary);
}
.event-card-empty:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.event-card-empty h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.event-card-empty h2 {
    margin: 8px 0px 0px;
    padding: 0;
    color: var(--color-primary);
    font-size: 16px;
}



