<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <a 
          class="song-header-back-button"
          href="{{ .BackURL }}">
          ❮
        </a>

        <div class="song-header-title">Break</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/break/edit?id={{ .Break.BreakID }}">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>
      </div>

      <div class="song-info-display">

        <div class="song-art-display-card">

          <div class="song-art-display-area">
            <div class="setlist-break-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-pause-icon lucide-circle-pause"><circle cx="12" cy="12" r="10"/><line x1="10" x2="10" y1="15" y2="9"/><line x1="14" x2="14" y1="15" y2="9"/></svg>
            </div>
          </div>
          
          <div class="song-title-display-area">
            
            <span class="song-title-label">{{ .Break.Title }}</span>
            
          </div>
        </div>


        <div class="song-display-info-card">
          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ formatDuration .Break.LengthSeconds }}</span>
            <span class="song-display-info-segment-bottom">Duration</span>
          </div>
        </div>


        <div class="song-display-action-row">

          <div class="song-setlists-card-options">
            <button 
              class="song-display-action-button-setlists"
              id="song-display-action-button-setlists" 
              type="button"
              
              aria-label="Setlist options">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-plus-icon lucide-list-plus"><path d="M16 5H3"/><path d="M11 12H3"/><path d="M16 19H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>
              Setlists
            </button>
          </div>
          

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sticky-note-icon lucide-sticky-note"><path d="M21 9a2.4 2.4 0 0 0-.706-1.706l-3.588-3.588A2.4 2.4 0 0 0 15 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2z"/><path d="M15 3v5a1 1 0 0 0 1 1h5"/></svg>
              Chart
          </div>

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
            Share
          </div>
        </div>


        <div class="song-display-card-full">
          <div class="song-display-card-row-link">
            <span class="song-display-label">Link One:</span>
              <a 
                class="song-display-field-link"
                href="{{ .Break.LinkOne }}">
                {{ .Break.LinkOne }}
              </a>

              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('{{ .Break.LinkOne }}', this)">
                <span class="copy-icon">
                  {{ template "svg_copy" . }}
                </span>
                <span class="check-icon">
                  {{ template "svg_checkmark" . }}
                </span>
              </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Link Two:</span>
              <a 
                class="song-display-field-link"
                href="{{ .Break.LinkOne }}">
                {{ .Break.LinkTwo }}
              </a>

              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('{{ .Break.LinkTwo }}', this)">
                <span class="copy-icon">
                  {{ template "svg_copy" . }}
                </span>
                <span class="check-icon">
                  {{ template "svg_checkmark" . }}
                </span>
              </button>
          </div>
        </div>


        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Notes:</span>
            <a class="song-display-label-full-view">View</a>
              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('{{ .Break.Notes }}', this)">
                <span class="copy-icon">
                    {{ template "svg_copy" . }}
                </span>

                <span class="check-icon">
                    {{ template "svg_checkmark" . }}
                </span>
              </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Break.Notes }}</p>
          </div>
        </div>

        <div class="song-display-spacer"></div>

      </div> 
    </div>

    {{ template "backdrop" . }}
   
  </body>
</html>