<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <!-- <header class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            {{ template "svg_hamburger_menu" . }}
          </button>
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>

        <div class="account">
          <button 
            class="open-right-menu-button"
            type="button"
            id="right-menu-button">
            {{ if .User.ProfileImagePath }}
              <img
                class="profile-pic-display"
                src="{{ smallImagePath .User.ProfileImagePath }}"
                alt="profile picture"
                >
            {{ else }}
              {{ template "svg_user_default_image" "profile-pic-display" }}
            {{ end }} 
          </button>
        </div>
      </header> -->

      {{ template "bandplan_header" . }}

      <div class="setlists-content-box">
        <header class="setlists-header">
          <div class="setlists-header-left"></div>

          <div class="setlists-header-center">
            <span class="setlists-header-top">
              To Do Lists
            </span>

            <span class="setlists-header-bottom">
              Create and manage your To Do Lists
            </span>
          </div>

          <div class="setlists-header-right">
            <a
              class="setlists-add-setlist"
              id="setlists-add-setlist"
              href="/todo/create">
              {{ template "svg_setlists_add" . }}
              New To Do List
            </a>
          </div>

        </header>

        <!-- <section class="setlists-search-header">

          <div class="setlists-search-left"></div>

          <input
            class="setlists-search-bar"
            type="search"
            name="q"
            placeholder="Search to do lists..."
            hx-get="/setlists/search"
            hx-trigger="keyup changed delay:200ms"
            hx-target="#setlists-list"
            hx-swap="innerHTML"
          >

          <div class="setlists-search-right">
            <button
              class="setlists-search-right-button"
              type="button"
              aria-label="Filter setlists"
              disabled>
              {{ template "svg_filter" .  }}
            </button>
          </div>
        </section> -->

        <div class="chats-count-bar">
          All To-Do Lists (0)
        </div>

        <section
          class="todo-lists-box"
          style="list-style-type: none">

          <div
            class="todo-list-section-title"
            id="chats-list-section-title">Primary:
          </div>

          <li
            class="todo-lists-list">

            {{ if .PrimaryBandList }}
              <a 
                class="todo-lists-item-card"
                href="/todo?todo-id={{ .PrimaryBandList.ToDoListID }}">
                <h2>{{ .PrimaryBandList.Name }}</h2>
              </a>
            {{ end }}

            {{ if .PrimaryUserList }}
              <a 
                class="todo-lists-item-card"
                href="/todo?todo-id={{ .PrimaryUserList.ToDoListID }}">
                <h2>{{ .PrimaryUserList.Name }}</h2>
              </a>
            {{ end }}

          </li>

          <div
            class="todo-list-section-title"
            id="chats-list-section-title">Other:
          </div>

          <li class="todo-lists-list">
  
            {{ range .Items }}
              {{ if and ( eq .IsPrimaryBand false) (eq .IsPrimaryUser false) }}
                <a 
                  class="todo-lists-item-card"
                  href="/todo?todo-id={{ .ToDoListID }}">
                  <h2>{{ .Name }}</h2>
                  </a>
              {{ end }}
            {{ end }}

          </li>


        </section>
      </div>

    {{ template "left_sidebar_menu" .}}
    {{ template "right_sidebar" . }}
    {{ template "backdrop" . }}
    {{ template "sidebar_scripts" . }}

  </body>
</html>
