<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <header class="settings-header">
        <a
          class="settings-header-back-button"
          href="{{ .BackURL }}">
          {{ template "svg_back" . }}
        </a>
        <div class="settings-header-title">
          To-Do List
        </div>
        <div class="settings-header-right"></div>
      </header>

      <header class="setlists-header">
        <div class="setlists-header-left"></div>

        <div class="setlists-header-center">
          <span class="setlists-header-top">
            {{ .List.Name }}
          </span>
        </div>

        <div class="setlists-header-right">
          <button
            class="setlists-add-setlist"
            id="todo-create-item-button">
            {{ template "svg_setlists_add" . }}
          </button>
        </div>

      </header>

      <div class="todo-list-box">
        <ul>
          {{ range .List.Items }}

          {{ end }}
        </ul>
      </div>
    </div>

    <dialog id="todo-create-item-box">
      <input type="hidden" name="todo-list-id" value="{{ .List.ToDoListID }}">
        <form
          class="todo-add-form"
          method="post"
          action="/todo/add">

          <input type="hidden" name="gorilla.csrf.Token" value="{{ .CSRFToken }}">

          <header class="todo-create-item-header">
            <a
              class="setlist-add-header-left"
              href="/todo?todo-id={{ .List.ToDoListID }}"
              aria-label="back to to do lists">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
            </a>

            <div class="setlist-add-header-center">New To-Do Item</div>
            <button
              class="setlist-add-header-right"
              type="submit"
              aria-label="create to do list">
              {{ template "svg_add" . }}
            </button>
          </header>

            <div class="todo-create-card">

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-due-date">Name: </label>
                <input
                  id="todo-list-name"
                  class="event-field-row-input"
                  type="text"
                  name="todo-list-name"
                  placeholder=""
                  maxlength="120"
                  required
                  autofocus>
              </div>

              <div class="todo-divider-horizontal"></div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-list-owner">Owner: </label>
                <select id="to-do-list-owner" class="event-field-row-input" name="to-do-list-owner" required>
                    <option value="Personal:{{ .User.UserID }}">Personal</option>
                    <option value="Band:{{ .Band.BandID }}">Band</option>
                </select>
              </div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-due-date">Due Date: </label>
                <input
                  id="to-do-due-date"
                  class="event-field-row-input"
                  type="date"
                  name="to-do-due-date">
              </div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-due-time">Due Time: </label>
                <input
                  id="to-do-due-time"
                  class="event-field-row-input"
                  type="time"
                  name="to-do-due-time">
              </div>

              <div class="todo-divider-horizontal"></div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-song">Song: </label>
                <select id="to-do-song" class="todo-field-row-input" name="to-do-song" required>
                    <option value="none">None</option>
                    {{ range .Songs }}
                      <option value="{{ .SongID }}">{{ .Title }}</option>
                    {{ end }}
                </select>
              </div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-setlist">Setlist: </label>
                <select id="to-do-setlist" class="todo-field-row-input" name="to-do-setlist" required>
                  <option value="none">None</option>
                  {{ range .Setlists }}
                    <option value="{{ .SetlistID }}">{{ .Name }}</option>
                  {{ end }}
                </select>
              </div>

              <div class="event-create-time-row">
                <label class="event-create-time-label" for="to-do-event">Event: </label>
                <select id="to-do-event" class="todo-field-row-input" name="to-do-event" required>
                    <option value="none">None</option>
                    {{ range .Events }}
                      <option value="{{ .EventID }}">{{ .Name }}</option>
                    {{ end }}
                </select>
              </div>

              <div class="card-divider-horizontal"></div>

              <textarea
                id="todo-item-create-description"
                class="event-create-notes-input notes-input"
                name="todo-list-description"
                placeholder="Description">{{ .List.Description }}</textarea>
            </div>

            <div class="add-setlist-card"></div>
        </form>
    </dialog>

    <script id="create-todo-item-script">
      const todoCreateBox = document.getElementById("todo-create-item-box")
      const todoCreateButton = document.getElementById("todo-create-item-button")

      todoCreateBox.addEventListener("click", (event) => {
        const bounds = todoCreateBox.getBoundingClientRect();

        const clickedOnBackdrop =
          event.clientX < bounds.left ||
          event.clientX > bounds.right ||
          event.clientY < bounds.top ||
          event.clientY > bounds.bottom;

        if (clickedOnBackdrop) {
          todoCreateBox.close();
        }
      });

      todoCreateButton.addEventListener("click", ()=> {
        todoCreateBox.showModal();
      });


    </script>

  </body>
</html>
