<div class="chats-content-box chat-settings-box">
  <form
    class="setlist-add-form"
    enctype="multipart/form-data"
    hx-post="/chat/image/save"
    hx-vals='{
      "chat-id": "{{ $.Chat.ChatID }}"
    }'
    hx-encoding="multipart/form-data"
    hx-target=".chats-content-box"
    hx-swap="none">

    <div class="setlist-add-header">

      <a 
        class="setlist-add-header-left"
        hx-get="/chats?id={{ .Chat.ChatID }}"
        hx-target=".chats-content-box"
        hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
      </a>

      <div class="setlist-add-header-center">Add Chat Image</div>
      <button
        class="setlist-add-header-right"
        type="submit">
        {{ template "svg_add" . }}
      </button>
    </div>

    <div class="setlist-add-card-box">

      <div class="setlist-add-card">

      <div class="setlist-add-field-row-label">
        {{ template "svg_image" . }}
        <label
        class="setlist-add-card-label"
        for="artwork-path">
        Image:
        </label>
      </div>

      {{ if .Chat.ImagePath }}
        <div
          id="setlist-artwork-section"
          class="setlists-artwork-upload">

          <div class="setlist-artwork-preview-frame">
            <img
              class="setlist-artwork-preview-image"
              src="{{ mediumImagePath .Chat.ImagePath }}"
              alt="Setlist artwork preview">
          </div>

          <div class="setlist-artwork-preview-actions">

            <input
            id="artwork-path"
            class="field-row-input-artwork"
            type="file"
            name="artwork-path"
            accept="image/jpeg,image/png,image/webp"
            hx-post="/chat/temp-art/add"
            hx-trigger="change"
            hx-encoding="multipart/form-data"
            hx-target="#setlist-artwork-section"
            hx-swap="outerHTML"
            hx-indicator="#artwork-upload-indicator">

            <label
              for="artwork-path"
              class="artwork-change-button">
              Change Artwork
            </label>

            <button
              type="button"
              class="artwork-remove-button"
              hx-delete="/chat/temp-art/delete"
              hx-vals='{
                  "image-id": "{{ .Chat.ImageID }}"
              }'
              hx-target="#setlist-artwork-section"
              hx-swap="outerHTML">
              Remove
            </button>
          </div>
        </div>

      {{ else }}
        <div
          id="setlist-artwork-section"
          class="setlists-artwork-upload">

          <input
            id="artwork-path"
            class="field-row-input-artwork"
            type="file"
            name="artwork-path"
            accept="image/jpeg,image/png,image/webp"
            hx-post="/chat/temp-art/add"
            hx-trigger="change"
            hx-encoding="multipart/form-data"
            hx-target="#setlist-artwork-section"
            hx-swap="outerHTML"
            hx-indicator="#artwork-upload-indicator">

          <div class="setlist-add-cloud">
            {{ template "svg_cloud" . }}
          </div>

          <span class="setlist-add-artwork">
            Upload Image
          </span>

          <span 
            class="setlist-add-file">
            JPG, PNG, or WebP - Max 5MB
          </span>

          <label 
            for="artwork-path" 
            class="artwork-upload-button">
            Choose Image
          </label>
        </div>

      {{ end }}
      
      <div class="add-setlist-card"></div>
    </div>
  </form>
</div>