<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

<body>
  <div class="content-box">
    <div class="header">

      <div class="menu">
        <button 
          class="open-side-menu-button"
          type="button" 
          id="menu-button">
          {{ template "svg_hamburger_menu" . }}
        </button>        
      </div>

      <div class="header-center">
        <h1 class="title">BandPlan</h1>
        <h2 class="band"></h2>
      </div>

      <div class="account">
        <button 
          class="open-right-menu-button"
          type="button"
          id="right-menu-button">
          {{ if .User.ProfileImagePath }}
            <img
              class="profile-pic-display"
              src="{{ smallImagePath .User.ProfileImagePath }}"
              alt="profile picture"
              >
          {{ else }}
            <img class="songs-art-display-placeholder">
          {{ end }} 
        </button>
      </div>
    </div>

    <div class="chat-create-content-box">

      <form
        class="chat-create-form"
        action="/chats/create"
        method="post"
        enctype="multipart/form-data"
        hx-post="/chats/create"
        hx-encoding="multipart/form-data"
        hx-swap="none">

        <div class="chat-create-header">

          <a 
            class="chat-create-header-left"
            href="/chats">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
          </a>

          <div class="chat-create-header-center">Create Chat</div>
          <button
            class="chat-create-header-right"
            type="submit"
            aria-label="Create chat"
            href="/setlists/create">
            
            {{ template "svg_add" . }}
          </button>
        </div>

        <div class="chat-create-card-box">

          <div class="chat-create-card">
          
            <div class="chat-create-field-row-label">
              <div id="setlist-notes">{{ template "svg_write" . }}</div>
              

              <label
                class="chat-create-card-label"
                for="setlist-title">
                Chat Name:
              </label>
            </div>

            <input
              id="setlist-title"
              class="chat-create-field-row-input"
              type="text"
              name="setlist-title"
              placeholder="Enter Chat Name"
              required
              maxlength="120"
              autofocus
            >

            <!-- <div class="chat-create-field-row-label">
              {{ template "svg_image" . }}
              <label
                class="chat-create-card-label"
                for="artwork-path">
                Chat Image:
              </label>
            </div>


            <div
              id="setlist-artwork-section"
              class="setlists-artwork-upload">

              <input
                id="artwork-path"
                class="field-row-input-artwork"
                type="file"
                name="artwork-path"
                accept="image/jpeg,image/png,image/webp"
                hx-post="/setlists/temp-art/add"
                hx-trigger="change"
                hx-encoding="multipart/form-data"
                hx-target="#setlist-artwork-section"
                hx-swap="outerHTML"
                hx-indicator="#artwork-upload-indicator">

              <div class="chat-create-cloud">
                {{ template "svg_cloud" . }}
              </div>

              <span class="chat-create-artwork">
                Upload Artwork
              </span>

              <span 
                class="chat-create-file">
                JPG, PNG, or WebP - Max 5MB
              </span>

              <label 
                for="artwork-path" 
                class="artwork-upload-button">
                Choose Artwork
              </label>
            </div> -->

            <div class="chat-create-field-row-label">
              <div id="setlist-notes">{{ template "svg_notes" . }}</div>
              <label class="field-row-label" for="notes">Members:</label>
            </div>

            <div class="chat-create-field-row-members">
              <div id="chat-create-member-added-list">
              </div>
            </div>

            <div id="chat-create-members-list" class="chat-create-members-list">
              {{ range $index, $user := .Members }}
                {{ template "chat_create_member_option" . }}

              {{ end }}
            </div>


            <div class="chat-create-field-row-label">
              <div id="setlist-notes">{{ template "svg_notes" . }}</div>
              <label class="field-row-label" for="notes">Notes:</label>
            </div>
            <textarea
              id="notes"
              class="notes-input"
              name="notes"
              placeholder="Enter Notes"
              oninput="this.style.height='0px'; this.style.height=this.scrollHeight+'px';"></textarea>
          </div>
          
          <div class="add-setlist-card"></div>
        </div>
          
      </form>
    </div>
  </div>

  {{ template "left_sidebar_menu" .}}
  {{ template "right_sidebar" . }}
  {{ template "backdrop" . }}
  {{ template "sidebar_scripts" . }}

  <script>
    document.addEventListener("input", function (event) {
      if (!event.target.matches(".notes-input")) return;

      const textarea = event.target;

      textarea.style.height = "auto";
      textarea.style.height = textarea.scrollHeight + "px";
    });
  </script>
  
</body>
</html>
