{{ define "chat_create_member_added" }}
  <div
    id="chat-create-member-added-list"
    hx-swap-oob="beforeend:#chat-create-member-added-list">
    <div class="chat-create-member-added-card">
      <input type="hidden" name="member-id" value="{{ .UserID }}">
      <button
        class="chat-create-member-added-button"
        type="button"
        hx-post="/chats/members/remove"
        hx-vals='{"member-id": "{{ .UserID }}"}'
        hx-target="closest .chat-create-member-added-card"
        hx-swap="delete">
        {{ .DisplayName }} x
      </button>
    </div>
  </div>
{{ end }}

{{ define "chat_create_member_option" }}
  <div class="chat-create-member-option">
    <button
      class="chat-create-member-card"
      type="button"
      hx-post="/chats/members/select"
      hx-vals='{"member-id": "{{ .UserID }}"}'
      hx-target="closest .chat-create-member-option"
      hx-swap="delete">
      <div class="chat-create-member-card-left">
        {{ if .ProfileImagePath }}
          <img
            class="chat-create-member-pic"
            src="{{ smallImagePath .ProfileImagePath }}"
            alt="Profile picture for {{ .DisplayName }}">
        {{ else }}
          <div class="chat-create-member-pic chat-create-member-pic-placeholder" aria-hidden="true"></div>
        {{ end }}
      </div>

      <div class="chat-create-member-card-right">
        <div class="chat-create-member-card-name">
          {{ .DisplayName }}
        </div>
      </div>
    </button>

    <div class="chats-member-card-divider"></div>
  </div>
{{ end }}

{{ define "chat_create_member_restored" }}
  <div
    id="chat-create-members-list"
    hx-swap-oob="beforeend:#chat-create-members-list">
    {{ template "chat_create_member_option" . }}
  </div>
{{ end }}


{{ define "chat_artwork_preview" }}
  <div
    id="setlist-artwork-section"
    class="setlists-artwork-upload">

    <input
        type="hidden"
        name="temporary-artwork-id"
        value="{{ .ArtworkID }}">

    <div class="setlist-artwork-preview-frame">
        <img
        class="setlist-artwork-preview-image"
        src="{{ .PreviewURL }}"
        alt="Setlist artwork preview">
    </div>

    <div class="setlist-artwork-preview-actions">

      <input
        id="artwork-path"
        class="field-row-input-artwork"
        type="file"
        name="artwork-path"
        accept="image/jpeg,image/png,image/webp"
        hx-post="/chat/temp-art/add"
        hx-trigger="change"
        hx-encoding="multipart/form-data"
        hx-target="#setlist-artwork-section"
        hx-swap="outerHTML">

      <label
        for="artwork-path"
        class="artwork-change-button">
        Change Artwork
      </label>

      <button
        type="button"
        class="artwork-remove-button"
        hx-delete="/chat/temp-art/delete"
        hx-vals='{
            "artwork-id": "{{ .ArtworkID }}"
        }'
        hx-target="#setlist-artwork-section"
        hx-swap="outerHTML">
        Remove
      </button>

    </div>

    <span class="setlist-artwork-ratio">
        Preview cropped to 4:3
    </span>

  </div>
{{ end }}


{{ define "chat_artwork_reset" }}
  <div
    id="setlist-artwork-section"
    class="setlists-artwork-upload">

    <input type="hidden" name="remove-artwork" value="true">

    <input
      id="artwork-path"
      class="field-row-input-artwork"
      type="file"
      name="artwork-path"
      accept="image/jpeg,image/png,image/webp"
      hx-post="/chat/temp-art/add"
      hx-trigger="change"
      hx-encoding="multipart/form-data"
      hx-target="#setlist-artwork-section"
      hx-swap="outerHTML"
      hx-indicator="#artwork-upload-indicator">

    <div class="setlist-add-cloud">
      {{ template "svg_cloud" . }}
    </div>

    <span class="setlist-add-artwork">
      Upload Artwork
    </span>

    <span 
      class="setlist-add-file">
      JPG, PNG, or WebP - Max 5MB
    </span>

    <label 
      for="artwork-path" 
      class="artwork-upload-button">
      Choose Artwork
    </label>
  </div>
{{ end }}



{{ define "chat_reaction_popup" }}
  <div 
    id="chat-reactions-box"
    class="chat-reactions-box">
    <button
      class="chat-emoji">❤️</button>
    <button
      class="chat-emoji">🤣</button>
    <button
      class="chat-emoji">😡</button>
    <button
      class="chat-emoji">😢</button>
    <button
      class="chat-emoji">🐿️</button>

  </div>
{{ end }}

{{ define "chat_backdrop" }}
  <div
    id="chat-backdrop"
    class="chat-backdrop">
  </div>
{{ end }}