<!DOCTYPE html>
<html>

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            {{ template "svg_hamburger_menu" . }}
          </button>
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>
    
        <div class="account">
          <button 
            class="open-right-menu-button"
            type="button"
            id="right-menu-button">
            {{ if .User.ProfileImagePath }}
              <img
                class="profile-pic-display"
                src="{{ smallImagePath .User.ProfileImagePath }}"
                alt="profile picture"
                >
            {{ else }}
              <img class="songs-art-display-placeholder">
            {{ end }} 
          </button>
        </div>
      </div>

      {{ template "chat_main_content" . }}
      {{ template "chat_reaction_popup" . }}
      {{ template "chat_popup_message" . }}
      {{ template "chat_backdrop" . }}

      

    </div>

    {{ template "chat_reaction_popup" . }}
    {{ template "left_sidebar_menu" .}}
    {{ template "right_sidebar" . }}
    {{ template "sidebar_scripts" . }}

    <script src="/static/js/chat-websocket.js?v=2"></script>
    
    
  </body>
</html>
