{{ define "chat_main_content" }}
  <div class="chats-content-box">
    <div class="chat-main-header">
      <a class="chat-main-header-left" href="/chats">
        {{ template "svg_back" . }}
      </a>
      <div class="chat-main-header-center">
        <img
            class="chat-header-image"
            src="{{ smallImagePath .Chat.ImagePath }}">
        {{ capitalizeBandName .Chat.Name }}
      </div>
      <button
        class="chat-main-header-right"
        type="button"
        hx-get="/chat/settings?id={{ .Chat.ChatID }}"
        hx-target=".chats-content-box"
        hx-swap="outerHTML"
        aria-label="Chat settings">
        {{ template "svg_options_large" . }}
      </button>
    </div>

    <ul
      class="messages-box"
      id="messages"
      data-chat-id="{{ .Chat.ChatID }}"
      data-current-user-id="{{ .User.UserID }}"
      style="list-style-type: none">
      {{ range .Messages }}
        {{ if eq .UserID $.User.UserID }}
          <li class="message message-own" data-message-id="{{ .MessageID }}">
            <div class="message-body">
              <span class="message-text">{{ .Body }}</span>
              <div class="message-body-footer">{{ formatTimeWithTimeZone .CreatedAt $.User.TimeZone}}</div>
            
              <div 
                id="message-reactions-{{ .MessageID }}"
                class="chat-reactions-own">
                {{ if .Reactions }}
                  {{ range .Reactions }}
                    {{ if eq .Reaction "heart" }}
                      <div class="chat-reaction">❤️</div>
                    {{ else if eq .Reaction "laugh" }}
                      <div class="chat-reaction">🤣</div>
                    {{ else if eq .Reaction "shocked" }}
                      <div class="chat-reaction">😯</div>
                    {{ else if eq .Reaction "anger" }}
                      <div class="chat-reaction">😡</div>
                    {{ else if eq .Reaction "sad" }}
                      <div class="chat-reaction">😢</div>
                    {{ else if eq .Reaction "horns" }}
                      <div class="chat-reaction">🤘</div>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </div>
            
            
            </div>
          </li>
        {{ else }}
          <li class="message test-message-other" data-message-id="{{ .MessageID }}">
            <div class="test-message-sender-pic-box">
              <img
                class="test-message-sender-pic"
                src="{{ smallImagePath .ProfileImagePath }}"
                alt="">
            </div>
            <div class="test-message-content">
              <div class="message-header">{{ .UserName }}</div>
              <div class="message-body-other">
                <span class="message-text">{{ .Body }}</span>
                <div class="message-body-footer">{{ formatTime .CreatedAt }}</div>
                
                  <div 
                    id="message-reactions-{{ .MessageID }}"
                    class="chat-reactions-other">
                    {{ if .Reactions }}
                      {{ range .Reactions }}
                        {{ if eq .Reaction "heart" }}
                          <div 
                            id="chat-reaction-heart"
                            class="chat-reaction">❤️</div>
                        {{ else if eq .Reaction "laugh" }}
                          <div 
                            id="chat-reaction-laugh"
                            class="chat-reaction">🤣</div>
                        {{ else if eq .Reaction "shocked" }}
                          <div 
                            id="chat-reaction-surprise"
                            class="chat-reaction">😯</div>
                        {{ else if eq .Reaction "anger" }}
                          <div 
                            id="chat-reaction-anger"
                            class="chat-reaction">😡</div>
                        {{ else if eq .Reaction "sad" }}
                          <div 
                            id="chat-reaction-sad"
                            class="chat-reaction">😢</div>
                        {{ else if eq .Reaction "horns" }}
                          <div 
                            id="chat-reaction-horns"
                            class="chat-reaction">🤘</div>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  </div>
                
              </div>
            </div>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    <div class="bottom-controls">
      <form
        id="message-form"
        class="message-entry"
        data-chat-id="{{ .Chat.ChatID }}">
        <input
          id="message-input"
          type="text"
          name="message"
          placeholder="Type a message"
          autocomplete="off">
        <button class="send-button" type="submit">Send</button>
      </form>
    </div>
  </div>
{{ end }}
