<div
  id="chat-create-member-added-list"
  hx-swap-oob="beforeend:#chat-create-member-added-list">
  <div class="chat-create-member-added-card">
    <input type="hidden" name="member-id" value="{{ .UserID }}">
    <button
      class="chat-create-member-added-button"
      type="button"
      hx-post="/chats/members/remove"
      hx-vals='{"member-id": "{{ .UserID }}"}'
      hx-target="closest .chat-create-member-added-card"
      hx-swap="delete">
      {{ .DisplayName }} x
    </button>
  </div>
</div>
