{{ define "chat_main_content" }}
  <div class="chats-content-box">
    <div class="chat-main-header">
      <a class="chat-main-header-left" href="/chats">
        {{ template "svg_back" . }}
      </a>
      <div class="chat-main-header-center">
        {{ capitalizeBandName .Chat.Name }}
      </div>
      <button
        class="chat-main-header-right"
        type="button"
        hx-get="/chat/settings?id={{ .Chat.ChatID }}"
        hx-target=".chats-content-box"
        hx-swap="outerHTML"
        aria-label="Chat settings">
        {{ template "svg_options_large" . }}
      </button>
    </div>

    <ul
      class="messages-box"
      id="messages"
      data-current-user-id="{{ .User.UserID }}"
      style="list-style-type: none">
      {{ range .Messages }}
        {{ if eq .UserID $.User.UserID }}
          <li class="message message-own" data-message-id="{{ .MessageID }}">
            <div class="message-body">
              <span class="message-text">{{ .Body }}</span>
              <div class="message-body-footer">{{ formatTime .CreatedAt }}</div>
            </div>
          </li>
        {{ else }}
          <li class="message test-message-other" data-message-id="{{ .MessageID }}">
            <div class="test-message-sender-pic-box">
              <img
                class="test-message-sender-pic"
                src="{{ smallImagePath .ProfileImagePath }}"
                alt="">
            </div>
            <div class="test-message-content">
              <div class="message-header">{{ .UserName }}</div>
              <div class="message-body-other">
                <span class="message-text">{{ .Body }}</span>
                <div class="message-body-footer">{{ formatTime .CreatedAt }}</div>
              </div>
            </div>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    <div class="bottom-controls">
      <form
        id="message-form"
        class="message-entry"
        data-chat-id="{{ .Chat.ChatID }}">
        <input
          id="message-input"
          type="text"
          name="message"
          placeholder="Type a message"
          autocomplete="off">
        <button class="send-button" type="submit">send</button>
      </form>
    </div>
  </div>
{{ end }}
