html, body {
    margin: 0;
    min-height: 100vh;
}

/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    justify-content: center;
    align-items: center;

    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.content-box {
    max-width: 375px;
    height: 100vh;

    padding: 2rem;
    border-radius: 12px;
    box-sizing: border-box;

    text-align: left;
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 1);
}

.title {
    margin-left: 0px;
    margin-top: 5px;
    text-align: center;
}

.messages li {
    justify-content: center;
    list-style: none;

    padding: 10px;
    margin-left: auto;
    margin-bottom: 8px;
    border-radius: 12px;
    /* background-color: #2c2c2c; */
    background-color: #271797;
    overflow-wrap: break-word;
    word-break: break-word;

    max-width: 75%;
}

.bottom-controls {
    margin-top: auto;
    justify-content: center;
    align-content: right;
}

.message-entry {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    left: auto;
}

.message-entry input {
    width: 400px;
    flex: 1;
}

a {
    color: rgb(82, 84, 209);
    text-decoration: underline;
}

.button-row {
    margin-top: 5px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    pad: 10px;
    /* width: 400px; */
}

