.add-songs-form {
    display: flex;
    flex: 1;

    background-color: #444;
    color: white;
}

.songs-add-footer {
    display: flex;

    height: 60px;
    margin-bottom: 0;
}

#songs-add-left {
    display: flex;
    width: 50vh;

    background-color: #1e1e1e;
}

#songs-add-left button {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    border: none;
    background: transparent;

    font-size: 40px;
    color: #fafafa;
}

#songs-add-right {
    display: flex;
    width: 50vh;
    
    background-color: #1e1e1e;
}

#songs-add-right button {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    border: none;
    background: transparent;

    font-size: 40px;
    color: #fafafa;
}