.add-songs {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

}

.add-songs-form {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-height: 0;
    overflow-y: auto;

    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    font-size: 16px;
    color: white;
    gap: 8px;
}

.add-songs-form::-webkit-scrollbar {
    width: 8px;
}

.add-songs-form::-webkit-scrollbar-track {
    background: #111;
    border-radius: 8px;
}

.add-songs-form::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px;
}

.add-songs-form::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.field-row {
    display: flex;
    align-items: center;
    width: 100%;

    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 12px;

    padding: 8px;
    box-sizing: border-box;
}

.field-row-label {
    width: 150px;
    padding-left: 8px;

    font-size: 16px;
    font-weight: 600;
    color: #d8d8d8;
}

.field-row-input {
    flex: 1;

    padding: 12px 14px;
    border: 1px solid #444;
    border-radius: 10px;

    background-color: #111;
    color: #fafafa;

    font-size: 16px;
    outline: none;
}

.field-row-input:focus {
    border-color: #c22d22;
}



.songs-add-footer {
    display: flex;
    height: 68px;
    flex-shrink: 0;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
}

#songs-add-left,
#songs-add-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    background-color: #1e1e1e;
}

#songs-add-left button,
#songs-add-right button {
    border: none;
    background: transparent;

    font-size: 30px;
    color: #fafafa;
}

#songs-add-right button {
    font-weight: 700;
    color: #ff4a3d;
}