body {
    background-color: #121212;
    color: white;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}