html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    /* background-color: #121212; */
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.title {
    margin-left: 20px;
    /* border-radius: 10px; */
}

.sub-title {
    margin-left: 20px;
    /* border-radius: 10px; */
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.button-row {
    display: flex;
    display: flex;
    gap: 10px;
    width: 300px;
}