/* * {
    border: 1px solid red;
} */

.open-setlist {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fafafa;
}

.setlists {
    display: flex;
    margin: auto;
    font-size: 40px;
}