<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>

        <div class="account">
          <button 
            class="open-right-menu-button"
            type="button"
            id="right-menu-button">
            {{ if .User.ProfileImagePath }}
              <img
                class="profile-pic-display"
                src="{{ smallImagePath .User.ProfileImagePath }}"
                alt="profile picture"
                >
            {{ else }}
              <img class="songs-art-display-placeholder">
            {{ end }} 
          </button>
        </div>
      </div>

      <div id="calendar"></div>

    </div>

    {{ template "left_sidebar_menu" .}}
    {{ template "right_sidebar" . }}
    {{ template "backdrop" . }}
    {{ template "sidebar_scripts" . }}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const calendarEl = document.getElementById("calendar");

          const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: "dayGridMonth",
            height: "100%",
            events: [
              {
                title: "Band Practice",
                start: "2026-06-30"
              },
              {
                title: "Show",
                start: "2026-07-05"
              }
            ]
          });

          calendar.render();
        });
      </script>

  </body>
</html>