<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

  <body>
    <div class="content-box">

      {{ template "bandplan_header" . }}

      <div class="calendar-box">
        <div id="calendar"></div>
      </div>

    </div>

    {{ template "left_sidebar_menu" .}}
    {{ template "right_sidebar" . }}
    {{ template "backdrop" . }}
    {{ template "sidebar_scripts" . }}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendar");

        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          height: "100%",
          events: [
            {
              title: "Band Practice",
              start: "2026-06-30"
            },
            {
              title: "Show",
              start: "2026-07-05"
            }
          ]
        });

        calendar.render();
      });
    </script>

  </body>
</html>