<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          {{ template "left_sidebar_menu" .}}
          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>

        <div class="account">
          <button 
            class="open-right-menu-button"
            type="button"
            id="right-menu-button">
            😵‍💫
          </button>

          {{ template "right_sidebar" . }}

        </div>
      </div> 

    <div class="events">
      Events
    </div>


    </div> 

    {{ template "left_sidebar_script" . }}

    {{ template "right_sidebar_script" . }}

  </body>
</html>