<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          {{ template "left_sidebar_menu" .}}
          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>

        <div class="account">
          <button type="button">😵‍💫</button>
        </div>

      </div>


    <div class="files">
      Files
    </div>


    </div> 

    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>

    <script>
      document.getElementById("right-menu-button").addEventListener("click", () => {
        document.getElementById("right-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-right-menu").addEventListener("click", () => {
        document.getElementById("right-menu").classList.toggle("toggle");
      });
    </script>
    
  </body>
</html>