<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/body.css">
    <link rel="stylesheet" href="/static/navigation.css">
    <link rel="stylesheet" href="/static/songs.css">
    <link rel="stylesheet" href="/static/setlists.css">
    <link rel="stylesheet" href="/static/goals.css">
    <title>BandPlan</title>
  </head>

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          <div id="side-menu" class="side-menu">
            <div class="side-menu-header">
              <button class="close-side-menu-button" type="button" id="close-side-menu">❮</button>
            </div>

            <button 
              class="side-menu-button" 
              hx-post="/" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Chat
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/songs" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Songs
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/setlists" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Setlists
            </button>

            
            <button class="side-menu-button" type="button">Calendar</button>
            <button class="side-menu-button" type="button">Files</button>
          </div>
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>

        <div class="account">
          <button type="button">😵‍💫</button>
        </div>

      </div> <!-- closes header -->


    <div class="goals">
      Goals
    </div>


    </div> <!-- closes content-box -->

    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("side-menu").classList.toggle("toggle");
      });

      document.getElementById("close-side-menu").addEventListener("click", () => {
        document.getElementById("side-menu").classList.toggle("toggle");
      });
    </script>
  </body>
</html>