<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BandPlan</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/body.css">
    <link rel="stylesheet" href="/static/navigation.css">
    <link rel="stylesheet" href="/static/songs.css">
    <link rel="stylesheet" href="/static/setlists.css">
    <link rel="stylesheet" href="/static/goals.css">
    <link rel="stylesheet" href="/static/calendar.css">
    <link rel="stylesheet" href="/static/files.css">
  </head>

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>
          
          <div id="side-menu" class="side-menu">

            <div class="side-menu-header">
              <button class="close-left-menu-button" type="button" id="close-left-menu">❮</button>
            </div>

            <button 
              class="side-menu-button" 
              hx-post="/songs" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Songs
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/setlists" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Setlists
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/goals" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Goals
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/calendar" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Calendar
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/files" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Files
            </button>
          </div>

        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>
    
      
        <div class="account">
          <button type="button">
            😵‍💫
          </button>
        </div>



      </div>
      
      <ul
        class="messages"
        id="messages" 
        style="list-style-type: none"
        hx-get="/messages"
        hx-trigger="load, every 2s"
        hx-swap="innerHTML"
        hx-on::after-swap="this.scrollTop = this.scrollHeight">


        {{ range .Messages }}
          {{ if eq .UserID $.User.UserID }}
            <li class="message-own">
              <div class="message-body">{{ .Body }}</div>
            </li>
          {{ else }}
            <li class="message-other">
              <div class="message-header">{{ .UserName }}</div>
              <div class="message-body">{{ .Body }}</div>
            </li>
          {{ end }}
        {{ end }}

      </ul>

      <div class="bottom-controls">

        <form
          class="message-entry"
          hx-post="/send"
          hx-target="#messages"
          hx-swap="beforeend"
          hx-on::after-request="this.reset()">
          <input type="text" name="message" placeholder="Type a message">
          <button class="send-button" type="submit">send</button>
        </form>
        
        <div class="button-row">
          <form 
            hx-post="/delete" 
            hx-target="#messages" 
            hx-swap="innerHTML">
            <button type="submit">Delete All</button>
          </form>

          <form
            hx-post="/logout">
            <button type="submit">logout</button>
          </form>
        </div>

      </div>

    </div>


    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("side-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("side-menu").classList.toggle("toggle");
      });
    </script>

  </body>
</html>