<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    
    <div class="content-box">
      <h1 class="title">BandPlan</h1>

      <h3 class="sub-title">The app for bands</h3>

      <form
        class="login-form"
        hx-post="/login/enter"
        hx-target="#login-message"
        hx-swap="innerHTML">

        <input type="text" name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">

        <div class="button-row">
          <button type="submit">Login</button>

          <button
            type="button"
            hx-get="/register"
            hx-target="body"
            hx-swap="innerHTML">
            Sign Up
          </button>
        </div>
      </form>

      <div id="login-message"></div>
    </div>
  </body>
</html>