<!DOCTYPE html>
<html>

  <head>
    <title>Login</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <h1>BandPlan</h1>

    <h2> Login </h2>

    <form
      class="login-form"
      hx-post="/login"
      hx-target="#login-message"
      hx-swap="innerHTML">

      <input type="text" name="email" placeholder="Enter Email">
      <input type="password" name="password" placeholder="Enter Password">

      <button type="submit">
        Login
      </button>

      <div id="login-message"></div>

    </form>
  </body>
</html>