<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          <div id="left-menu" class="side-menu">
            <div class="side-menu-header">
              <button class="close-left-menu-button" type="button" id="close-left-menu">❮</button>
            </div>

            <button 
              class="side-menu-button" 
              hx-post="/" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button">
              {{ template "svg_chat" . }}
              <span>Chat</span>
            </button>

            <button
              class="side-menu-button"
              hx-get="/songs"
              hx-target=".content-box"
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_songs" . }}
              <span>Songs</span>
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/setlists" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_setlists" . }}
              <span>Setlists</span>          
            </button>

            <button
              class="side-menu-button"
              hx-get="/"
              hx-target=".content-box"
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_promotion" . }}
              <span>Promotion</span>
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/goals" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_goals" . }}
              <span>Goals</span>
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/calendar" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_calendar" . }}
              <span>Calendar</span>
            </button>

            <button
              class="side-menu-button"
              hx-get="/"
              hx-target=".content-box"
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_events" . }}
              <span>Events</span>
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/files" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')"
              type="button">
              {{ template "svg_files" . }}
              <span>Files</span>
            </button>

          </div>
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>

        <div class="account">
          <button type="button">😵‍💫</button>
        </div>

      </div>


    <div class="promotion">
      Promotion
    </div>


    </div> 

    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });

      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
  </body>
</html>