<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BandPlan</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/navigation.css">
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/body.css">
    <link rel="stylesheet" href="/static/songs.css">
    <link rel="stylesheet" href="/static/setlists.css">
    <link rel="stylesheet" href="/static/goals.css">
    <link rel="stylesheet" href="/static/calendar.css">
    <link rel="stylesheet" href="/static/files.css">
    <link rel="stylesheet" href="/static/songs-add.css">
  </head>

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          <div id="left-menu" class="side-menu">
            <div class="side-menu-header">
              <button class="close-left-menu-button" type="button" id="close-left-menu">❮</button>
            </div>

            <button 
              class="side-menu-button" 
              hx-post="/" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Chat
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/setlists" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Setlists
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/goals" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Goals
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/calendar" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Calendar
            </button>

            <button 
              class="side-menu-button" 
              hx-post="/files" 
              hx-target=".content-box" 
              hx-swap="innerHTML"
              type="button"
              >Files
            </button>

          </div>
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>

        <div class="account">

          <a 
            class="open-add-song-button"
            id="add-song-button"
            href="/songs/add">
            +
          </a>

          <div id="right-menu" class="right-menu">
            <div class="right-menu-header">
              <button 
                class="close-right-menu-button" 
                type="button" 
                id="close-right-menu">
                ❯
              </button>
            </div>

          </div>
        

        </div>

      </div> <!-- closes header -->


      <div class="songs-list-page">
        <ul
          class="songs-list"
          style="list-style-type: none">

          {{ if .Songs }}
            {{ range $index, $song := .Songs }}
              <li>
                <div class="song-card">

                  <div class="song-index"></div>

                  <div class="song-artwork">
                    <!-- artwork later -->
                  </div>

                  <div class="song-card-info">

                    <div class="song-card-top-row">
                      <p class="song-title">{{ .Title }}</p>
                      <p class="album-title">{{ .AlbumTitle }}</p>
                    </div>

                  
                    <div class="song-card-bottom-row">
                      <p class="recording-bpm">Recording BPM: {{ .RecordingBPM }}</p>
                      <p class="live-bpm">Live BPM: {{ .LiveBPM }}</p>
                    </div>

                  </div>

                </div>
              </li>
            {{ end }}
          {{ else }}
            <li class="empty-songs-message">No songs yet.</li>
          {{ end }}
        </ul>
      </div>


    </div>

    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });

      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
  </body>
</html>