<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <a 
          class="song-header-back-button"
          href="{{ .BackURL }}">
          ❮
        </a>

        <div class="song-header-title">Transition</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/transition/edit?id={{ .Transition.TransitionID }}">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>
      </div>

      <div class="song-info-display">

        <div class="song-art-display-card">

          <div class="song-art-display-area">

            <div class="setlist-transition-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right-icon lucide-arrow-left-right"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/></svg>
            </div>

          </div>
          
          <div class="song-title-display-area">
            
            <span class="song-title-label">{{ .Transition.Title }}</span>
            
          </div>
        </div>


        <div class="song-display-info-card">
          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ .Transition.BPM }}</span>
            <span class="song-display-info-segment-bottom">Rec. BPM</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ convertBlankField .Transition.Key }}</span>
            <span class="song-display-info-segment-bottom">Key</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ convertBlankField .Transition.TimeSignature }}</span>
            <span class="song-display-info-segment-bottom">Time Sig.</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ formatDuration .Transition.LengthSeconds }}</span>
            <span class="song-display-info-segment-bottom">Duration</span>
          </div>
        </div>


        <div class="song-display-action-row">

          <div class="song-setlists-card-options">
            <button 
              class="song-display-action-button-setlists"
              id="song-display-action-button-setlists" 
              type="button"
              
              aria-label="Setlist options">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-plus-icon lucide-list-plus"><path d="M16 5H3"/><path d="M11 12H3"/><path d="M16 19H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>
              Setlists
            </button>
          </div>
          

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sticky-note-icon lucide-sticky-note"><path d="M21 9a2.4 2.4 0 0 0-.706-1.706l-3.588-3.588A2.4 2.4 0 0 0 15 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2z"/><path d="M15 3v5a1 1 0 0 0 1 1h5"/></svg>
              Chart
          </div>

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
            Share
          </div>
        </div>


        <div class="song-display-card">
          <div class="song-display-card-left">

            <div class="song-display-card-row">
              <span class="song-display-label">BPM:</span>
              <span class="song-display-field">{{ .Transition.BPM }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Tuning:</span>
              <span class="song-display-field">{{ convertBlankField .Transition.Tuning }}</span>
            </div>
          </div>

          <div class="card-divider-vertical"></div>

          <div class="song-display-card-right">
            <div class="song-display-card-row">
              <span class="song-display-label">Key:</span>
              <span class="song-display-field">{{ convertBlankField .Transition.Key }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Capo:</span>
              <span class="song-display-field">{{ convertBlankField .Transition.Capo }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Explicit:</span>
              <span class="song-display-field">{{ boolToYesNo .Transition.Explicit }}</span>
            </div>
            
          </div>
        </div>


        <div class="song-display-card-full">
          <div class="song-display-card-row-link">
            <span class="song-display-label">Link One:</span>
              <a 
                class="song-display-field-link"
                href="{{ .Transition.LinkOne }}">
                {{ .Transition.LinkOne }}
              </a>

              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('{{ .Transition.LinkOne }}', this)">
                <span class="copy-icon">
                  {{ template "svg_copy" . }}
                </span>

                <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
              
              </button>
          </div>
        </div>

        <div class="song-display-card-full song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Lyrics:</span>
            <a 
              class="song-display-label-full-view"
              hx-get="/song/lyrics"
              hx-target=".song-info-display"
              hx-vals='{
                "song-id": "{{ .Transition.Lyrics }}"
              }'
              hx-swap="outerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')">
              View
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Transition.Lyrics }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ trimSpace .Transition.Lyrics }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Notes:</span>
            <a class="song-display-label-full-view">View</a>
              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('{{ .Transition.Notes }}', this)">
                <span class="copy-icon">
                    {{ template "svg_copy" . }}
                </span>

                <span class="check-icon">
                    {{ template "svg_checkmark" . }}
                </span>
              </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Transition.Notes }}</p>
          </div>
        </div>

        <div class="song-display-spacer"></div>

      </div> 
    </div>

    {{ template "backdrop" . }}
   
  </body>
</html>