<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <div class="content-box">
      <div class="add-song-header">
        Edit Transition:
      </div>

      <form class="add-songs" action="/transition/update" method="post">
        <input type="hidden" name="transition-id" value="{{ .Transition.TransitionID }}">

        <div class="add-songs-form">
          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="transition-title">Title:</label>
              <input
                id="transition-title"
                class="field-row-input"
                type="text"
                name="transition-title"
                value="{{ .Transition.Title }}"
                required
                maxlength="300"
                autofocus>
            </div>
          </div>

          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="minutes">Length:</label>
              <input
                class="duration-input-no-spinner"
                id="minutes"
                type="number"
                name="minutes"
                min="0"
                max="99"
                value="{{ formatMinutes .Transition.LengthSeconds }}">
              :
              <input
                class="duration-input-no-spinner"
                id="seconds"
                type="number"
                name="seconds"
                min="0"
                max="59"
                value="{{ formatSeconds .Transition.LengthSeconds }}">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="bpm">BPM:</label>
              <input
                id="bpm"
                class="field-row-input"
                type="number"
                name="bpm"
                value="{{ .Transition.BPM }}"
                min="0"
                max="500">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="time-signature">Time Signature:</label>
              <input
                id="time-signature"
                class="field-row-input"
                type="text"
                name="time-signature"
                value="{{ .Transition.TimeSignature }}"
                maxlength="20">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="key">Key:</label>
              <input
                id="key"
                class="field-row-input"
                type="text"
                name="key"
                value="{{ .Transition.Key }}"
                maxlength="20">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="tuning">Tuning:</label>
              <input
                id="tuning"
                class="field-row-input"
                type="text"
                name="tuning"
                value="{{ .Transition.Tuning }}"
                maxlength="50">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="capo">Capo:</label>
              <input
                id="capo"
                class="field-row-input"
                type="text"
                name="capo"
                value="{{ .Transition.Capo }}"
                maxlength="50">
            </div>
          </div>

          <div class="settings-row">
            <div class="settings-row-div">
              <div class="settings-row-section">
                <span class="settings-row-label">Explicit</span>
                <label class="switch">
                  <input type="checkbox" name="explicit" {{ if .Transition.Explicit }}checked{{ end }}>
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="link-one">Link:</label>
              <input
                id="link-one"
                class="field-row-input"
                type="url"
                name="link-one"
                value="{{ .Transition.LinkOne }}"
                placeholder="https://...">
            </div>
          </div>

          <div class="add-songs-card">
            <div class="field-row lyrics-row">
              <label class="field-row-label" for="lyrics">Lyrics:</label>
              <textarea
                id="lyrics"
                class="field-row-input lyrics-input"
                name="lyrics"
                placeholder="Enter Lyrics">{{ .Transition.Lyrics }}</textarea>
            </div>

            <div class="field-row lyrics-row">
              <label class="field-row-label" for="notes">Notes:</label>
              <textarea
                id="notes"
                class="field-row-input lyrics-input"
                name="notes"
                placeholder="Enter Notes">{{ .Transition.Notes }}</textarea>
            </div>
          </div>
        </div>

        <div class="songs-add-footer">
          <div id="songs-add-left">
            <a id="songs-add-cancel" href="{{ .BackURL }}">Cancel</a>
          </div>

          <div id="songs-add-right">
            <button id="songs-add-save" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
