

{{ define "setlist_song_count" }}
    <div 
        class="setlist-content-header-section"
        id="setlist-content-header-section-count">
        <button 
          class="setlist-content-header-box"
          hx-get="/setlist/count/transitions?id={{ .Setlist.SetlistID }}"
          hx-target="#setlist-content-header-section-count"
          hx-swap="outerHTML">
          <div class="setlist-content-header-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
          </div>
          <div class="setlist-content-header-right">
            <p class="setlist-content-header-top">{{ setlistSongCount .Setlist.Songs }}</p>
            <p class="setlist-content-header-bottom">Songs</p>
          </div>
        </button>
      </div>
{{ end }}


{{ define "setlist_transition_count" }}
    <div 
        class="setlist-content-header-section"
        id="setlist-content-header-section-count">
        <button 
          class="setlist-content-header-box"
          hx-get="/setlist/count/breaks?id={{ .Setlist.SetlistID }}"
          hx-target="#setlist-content-header-section-count"
          hx-swap="outerHTML">
          <div class="setlist-content-header-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
          </div>
          <div class="setlist-content-header-right">
            <p class="setlist-content-header-top">{{ setlistTransitionCount .Setlist.Songs }}</p>
            <p class="setlist-content-header-bottom">Trans.</p>
          </div>
        </button>
      </div>
{{ end }}


{{ define "setlist_break_count" }}
    <div 
        class="setlist-content-header-section"
        id="setlist-content-header-section-count">
        <button 
          class="setlist-content-header-box"
          hx-get="/setlist/count/items?id={{ .Setlist.SetlistID }}"
          hx-target="#setlist-content-header-section-count"
          hx-swap="outerHTML">
          <div class="setlist-content-header-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
          </div>
          <div class="setlist-content-header-right">
            <p class="setlist-content-header-top">{{ setlistBreakCount .Setlist.Songs }}</p>
            <p class="setlist-content-header-bottom">Breaks.</p>
          </div>
        </button>
      </div>
{{ end }}


{{ define "setlist_item_count" }}
    <div 
        class="setlist-content-header-section"
        id="setlist-content-header-section-count">
        <button 
          class="setlist-content-header-box"
          hx-get="/setlist/count/songs?id={{ .Setlist.SetlistID }}"
          hx-target="#setlist-content-header-section-count"
          hx-swap="outerHTML">
          <div class="setlist-content-header-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
          </div>
          <div class="setlist-content-header-right">
            <p class="setlist-content-header-top">{{ setlistLength .Setlist.Songs }}</p>
            <p class="setlist-content-header-bottom">Items.</p>
          </div>
        </button>
      </div>
{{ end }}


{{ define "setlist_songs_time" }}
    <div 
      class="setlist-content-header-section"
      id="setlist-content-header-section-time">
      <div 
        class="setlist-content-header-time"
        hx-get="/setlist/time/transitions?id={{ .Setlist.SetlistID }}"
        hx-target="#setlist-content-header-section-time"
        hx-swap="outerHTML">
        <div class="setlist-content-header-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer-icon lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg>
        </div>
        <div class="setlist-content-header-right">
          <p class="setlist-content-header-top">{{ setlistSongsToTime .Setlist.Songs }}</p>
          <p class="setlist-content-header-bottom">Songs Time</p>
        </div>
      </div>
    </div>
{{ end }}

{{ define "setlist_transitions_time" }}
    <div 
      class="setlist-content-header-section"
      id="setlist-content-header-section-time">
      <div 
        class="setlist-content-header-time"
        hx-get="/setlist/time/breaks?id={{ .Setlist.SetlistID }}"
        hx-target="#setlist-content-header-section-time"
        hx-swap="outerHTML">
        <div class="setlist-content-header-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer-icon lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg>
        </div>
        <div class="setlist-content-header-right">
          <p class="setlist-content-header-top">{{ setlistTransitionsToTime .Setlist.Songs }}</p>
          <p class="setlist-content-header-bottom">Trans. Time</p>
        </div>
      </div>
    </div>
{{ end }}

{{ define "setlist_breaks_time" }}
    <div 
      class="setlist-content-header-section"
      id="setlist-content-header-section-time">
      <div 
        class="setlist-content-header-time"
        hx-get="/setlist/time/items?id={{ .Setlist.SetlistID }}"
        hx-target="#setlist-content-header-section-time"
        hx-swap="outerHTML">
        <div class="setlist-content-header-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer-icon lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg>
        </div>
        <div class="setlist-content-header-right">
          <p class="setlist-content-header-top">{{ setlistBreaksToTime .Setlist.Songs }}</p>
          <p class="setlist-content-header-bottom">Breaks Time</p>
        </div>
      </div>
    </div>
{{ end }}

{{ define "setlist_items_time" }}
    <div 
      class="setlist-content-header-section"
      id="setlist-content-header-section-time">
      <div 
        class="setlist-content-header-time"
        hx-get="/setlist/time/songs?id={{ .Setlist.SetlistID }}"
        hx-target="#setlist-content-header-section-time"
        hx-swap="outerHTML">
        <div class="setlist-content-header-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer-icon lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg>
        </div>
        <div class="setlist-content-header-right">
          <p class="setlist-content-header-top">{{ setlistItemsToTime .Setlist.Songs }}</p>
          <p class="setlist-content-header-bottom">Items Time</p>
        </div>
      </div>
    </div>
{{ end }}