<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" .}}

  <body>
    <div class="content-box">

    <div class="setlist-header">    

      <button 
        class="setlist-header-back-button" 
        hx-get="/setlists"
        hx-target=".content-box"
        hx-swap="innerHTML"
        hx-push-url="true"
        onclick="document.getElementById('left-menu').classList.remove('toggle')"
        type="button">
        {{ template "svg_back_large" . }}
      </button>

      <div class="setlist-header-title">
        {{ .Setlist.Name }}
      </div>

      <button class="setlist-header-options">
        {{ template "svg_options_large" . }}
      </button>
    </div>

    <div class="setlist-content-header">
      <div class="setlist-content-header-background">
        <div 
          class="setlist-content-header-section"
          id="setlist-content-header-section-count">
          <button 
            class="setlist-content-header-box"
            hx-get="/setlist/songs?id={{ .Setlist.SetlistID }}"
            hx-target=".setlist-content-box"
            hx-swap="innerHTML">
            <div class="setlist-content-header-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-audio-lines-icon lucide-audio-lines"><path d="M2 10v3"/><path d="M6 6v11"/><path d="M10 3v18"/><path d="M14 8v7"/><path d="M18 5v13"/><path d="M22 10v3"/></svg>
            </div>
            <div class="setlist-content-header-right">
              <p class="setlist-content-header-top">{{ setlistLength .Setlist.Songs }}</p>
              <p class="setlist-content-header-bottom">Items</p>
            </div>
          </button>
        </div>

        <div class="setlist-content-header-divider"></div>

        <div 
          class="setlist-content-header-section"
          id="setlist-content-header-section-time">
          <button
            class="setlist-content-header-time"
            hx-get="/setlist/time/songs?id={{ .Setlist.SetlistID }}"
            hx-target="#setlist-content-header-section-time"
            hx-swap="outerHTML"
            type="button">
            <div class="setlist-content-header-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer-icon lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg>
            </div>
            <div class="setlist-content-header-right-time">
              <p class="setlist-content-header-top">{{ setlistItemsToTime .Setlist.Songs }}</p>
              <p class="setlist-content-header-bottom">Total</p>
            </div>
          </button>
        </div>

        <div class="setlist-content-header-divider"></div>

        <div class="setlist-content-header-section">
          <button 
            class="setlist-content-header-time"
            hx-get="/setlist/notes?id={{ .Setlist.SetlistID }}"
            hx-target=".content-box"
            hx-swap="outerHTML">
            <div class="setlist-content-header-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notepad-text-icon lucide-notepad-text"><path d="M8 2v4"/><path d="M12 2v4"/><path d="M16 2v4"/><rect width="16" height="18" x="4" y="4" rx="2"/><path d="M8 10h6"/><path d="M8 14h8"/><path d="M8 18h5"/></svg>
            </div>
            <p class="setlist-content-header-notes">Notes</p>
          </button>
        </div>
      </div>


    </div>

    <div class="setlist-content-header-two">

      <button
        class="setlist-header-button"
        id="setlist-button-share"
        type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
        Share
      </button>
      <!-- <button 
        class="setlist-header-button"
        type="button" disabled>
        <div class="setlist-button-share"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
          Share
        </div>
      </button> -->

      <button
        class="setlist-header-button-add"
        id="setlist-button-add"
        type="button">
        <div class="setlist-button-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        </div>
        Add
      </button>

      <!-- <div class="setlist-header-button-add">
        <button 
          class="setlist-button-add"
          id="setlist-button-add"
          type="button"
          aria-label="setlist options">
          <div class="setlist-button-add-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          </div>
          Add Item
        </button> -->


      <!-- </div> -->

      <button
        class="setlist-header-button-reorder"
        id="setlist-button-reorder"
        type="button"
        hx-get="/setlist/reorder?id={{ .Setlist.SetlistID }}"
        hx-target=".setlist-content-box"
        hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
        Order
      </button>

      <!-- <div 
        class="setlist-header-button"
        id="setlist-reorder-button">
        <button 
          type="button"
          class="setlist-button-reorder"
          hx-get="/setlist/reorder?id={{ .Setlist.SetlistID }}"
          hx-target=".setlist-content-box"
          hx-swap="innerHTML">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
          Order
        </button>
      </div> -->

    </div>

        <form 
          class="setlist-popup-menu-add "
          id="setlist-popup-menu-add">
          <div class="setlist-popup-menu-add-header">Add Setlist Items:</div>
          <button 
            type="button"
            class="setlist-popup-add-button"
            disabled>
            Add Song
          </button>
          <button 
            type="button"
            class="setlist-popup-add-button"
            disabled>
            Create Song
          </button>
          <a 
            type="button" disabled
            class="setlist-popup-add-button"
            disabled>
            Add Transiton
          </a>
          <a 
            type="button"
            class="setlist-popup-add-button"
            href="/transition/create?id={{ .Setlist.SetlistID }}">
            Create Transition
          </a>
          <button 
            type="button" disabled
            class="setlist-popup-add-button">
            Add Break
          </button>
          <a
            type="button"
            class="setlist-popup-add-button"
            href="/break/create?id={{ .Setlist.SetlistID }}">
            Create Break
          </a>
        </form>


    <div class="setlist-content-box">
      {{ template "setlist_items" . }}
    </div>

    <div 
      id="setlist-backdrop" 
      class="setlist-backdrop">
    </div>


    {{ template "backdrop" . }}


    <script>
      
      const sideMenuBackdrop = document.getElementById("side-menu-backdrop");
      const addMenuButton = document.getElementById("setlist-button-add");
      const addMenu = document.getElementById("setlist-popup-menu-add");

      function openAddMenu() {
        addMenu?.classList.add("open");
        sideMenuBackdrop?.classList.add("open");
      }

      function closeAddMenu() {
        addMenu?.classList.remove("open");
        sideMenuBackdrop?.classList.remove("open");
      }

      addMenuButton?.addEventListener("click", (event) => {
        event.preventDefault();
        event.stopPropagation();

        openAddMenu();
      });

      sideMenuBackdrop?.addEventListener("click", () => {
        closeAddMenu();
      });

      addMenu?.addEventListener("click", (event) => {
        event.stopPropagation();
      });
    </script>

    <script>
      function closeSetlistMenu(event) {
        console.log("closeSetlistMenu")
        sideMenuBackdrop?.classList.remove("open")

        document
          .querySelectorAll(".setlist-card-options.open")
          .forEach((menu) => {
            menu.classList.remove("open");
          });
        songsBackdrop?.classList.remove("open");
      }

      function toggleSetlistMenu(event) {
        console.log("toggleSetlistMenu")
        event.preventDefault();
        event.stopPropagation();

        console.log("test one")
        const options = event.currentTarget.closest(".setlist-card-options");

        console.log("test two")

        console.log("options: ", options);

        document.querySelectorAll(".setlist-card-options.open").forEach(menu => {
          if (menu !== options) {
            menu.classList.remove("open");
            sideMenuBackdrop?.classList.remove("open");
          }
        });

        options.classList.toggle("open");
        sideMenuBackdrop?.classList.add("open");
      }

      document.addEventListener("click", (event) => {
        if (event.target.closest(".setlist-card-options")) {
          return;
        }

        document.querySelectorAll(".setlist-card-options.open").forEach(menu => {
          menu.classList.remove("open");
        });
        sideMenuBackdrop?.classList.remove("open");
      });
    </script>

    <script>
      const songsBackdrop = document.getElementById("setlist-backdrop");
    
      function closeItemCardMenu() {
        console.log("closeItemCardMenu")
        document
          .querySelectorAll(".setlist-card-item-card-popup.open")
          .forEach((menu) => {
            menu.classList.remove("open");
            songsBackdrop?.classList.remove("open");
          });
          sideMenuBackdrop?.classList.remove("open")
      }

      function toggleItemCardMenu(event, menuID) {
        event.preventDefault();
        event.stopPropagation();

        console.log("toggleItemCardMenu")
        console.log("menuID: ", menuID)

        const selectedMenu = document.getElementById(menuID);

        if (!selectedMenu) {
            console.error("Item card menu not found:", menuID);
            return;
        }
        const isAlreadyOpen = selectedMenu.classList.contains("open");

        console.log("selectedMenu: ", selectedMenu)
        console.log("isAlreadyOpen: ", isAlreadyOpen)

        closeItemCardMenu();
        closeSetlistMenu();
        

        if (!isAlreadyOpen) {
          console.log("opening setlist menu: ", isAlreadyOpen)
          selectedMenu.classList.add("open");
          songsBackdrop?.classList.add("open");
        }
      }

      // document.addEventListener("click", (event) => {
      //   if (event.target.closest("#setlist-backdrop")) {
      //     console.log("songsBackdop Click");
      //     closeItemCardMenu();
      //   }
      // })

    </script>

    <script>
      document.body.addEventListener("htmx:afterSwap", () => {
        console.log("HTMX swap finished");

        interact(".setlist-reorder-song-card, .setlist-reorder-transition-card, .setlist-reorder-break-card")
        .draggable({
          allowFrom: ".setlist-reorder-handle",

          listeners: {
            move(event) {
              const target = event.target;

              const x = 0;
              const y = (parseFloat(target.dataset.y) || 0) + event.dy;

              target.style.transform = `translate(${x}px, ${y}px)`;

              target.dataset.x = x;
              target.dataset.y = y;
            },
            start(event) {
              console.log("START");
              event.target.classList.add("dragging");
            },
            end(event) {
              console.log("END");
              const target = event.target;

              target.style.transform = "";
              target.dataset.y = 0;

              target.classList.remove("dragging");
            }
          }
        });

        interact(".setlist-reorder-song-card, .setlist-reorder-transition-card, .setlist-reorder-break-card")
        .dropzone({
          overlap: 0.4,

          ondrop(event) {
            console.log("ON DROP");

            const dragged = event.relatedTarget;
            const target = event.target;

            console.log("Dragged: ", dragged);
            console.log("Target:  ", target);

            if (dragged === target) {
              return;
            }

            const list = document.getElementById("setlist-reorder-list");

            const draggedRect = dragged.getBoundingClientRect();
            const targetRect = target.getBoundingClientRect();

            console.log("draggedRect: ", draggedRect)
            console.log("targetRect: ", targetRect)

            if (draggedRect.top < targetRect.top) {
              list.insertBefore(dragged, target.nextSibling);
            } else {
              list.insertBefore(dragged, target);
            }

            dragged.style.transform = "";
            dragged.dataset.y = 0;
          }
        });
      });


      document.addEventListener("click", async (event) => {
        const saveButton = event.target.closest(".reorder-save");

        if (!saveButton) {
          return;
        }

        const items = document.querySelectorAll(
          "#setlist-reorder-list > [data-item-id]"
        );

        const order = Array.from(items).map((item, index) => ({
          itemID: item.dataset.itemId,
          position: index + 1
        }));

        const formData = new FormData();

        formData.append("setlistID", "{{ $.Setlist.SetlistID }}");
        formData.append("order", JSON.stringify(order));

        const response = await fetch("/setlist/reorder/save", {
          method: "POST",
          body: formData
        });

        if (!response.ok) {
          console.error("Unable to save reorder");
          return;
        }

        window.location.href = "/setlist?id={{ $.Setlist.SetlistID }}";
      });
    </script>

  </body>
</html> 
