<!DOCTYPE html>
<html lang="en">

  {{ template "head" .}}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          {{ template "left_sidebar_menu" .}}
          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ capitalizeBandName .Band.Name }}</h2>
        </div>

        <a 
          class="open-setlist"
          id="add-song-button"
          href="/setlist">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="48" height="48" 
            viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="3" 
            stroke-linecap="round" stroke-linejoin="round" 
            class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14"/><path d="M12 5v14"/>
          </svg>
        </a>
      </div>

      <div class="setlists-content-box">
        <div class="setlists-header">
          <div class="setlists-header-left"></div>

          <div class="setlists-header-center">
            <span class="setlists-header-top">Setlists</span>
            <span class="setlists-header-bottom">Create and Manage your live setlists</span>
          </div>

          <div class="setlists-header-right"> 
            <div class="setlists-add-setlist">
              {{ template "svg_setlists_add" . }}
              New Setlist
            </div>
          </div>
        </div>


        <div class="setlists-search-header">
          <div class="setlists-search-left"></div>

          <div class="setlists-search-center">
            <input
            class="setlists-search-bar"
            type="search"
            name="q"
            placeholder="Search setlists..."
            hx-get="/setlists/search"
            hx-trigger="keyup changed delay:200ms"
            hx-target=".songs-list">
          </div>
          <div class="setlists-search-right"></div>
        </div>

        <div class="setlists-card-box">
        
          <a class="setlist-card">
            <div class="setlist-card-top">
              <div class="setlist-card-top-image-box"></div>

              <div class="setlist-card-top-center">
                <span class="setlist-card-name">Setlist Title</span>
                <span class="setlist-card-info-row">Songs - 0:00</span>
                <span class="setlist-card-edit-row">Last edited:</span>
              </div>

              <div class="setlist-card-top-right"></div>
            </div>

            <div class="setlist-card-bottom">
              <div class="setlist-card-bottom-one"></div>
              <div class="setlist-card-bottom-two"></div>
              <div class="setlist-card-bottom-three"></div>
              <div class="setlist-card-bottom-four"></div>
            </div>

          </a>



        </div>











      </div>

    </div>
    
    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>

    <script>
      document.getElementById("right-menu-button").addEventListener("click", () => {
        document.getElementById("right-menu").classList.toggle("toggle");
      });
    </script>
    
    <script>
      document.getElementById("close-right-menu").addEventListener("click", () => {
        document.getElementById("right-menu").classList.toggle("toggle");
      });
    </script>
  </body>
</html>