

.todo-list-box {
    width: 100%; 
    height: 100%;

    padding: 16px;
    
    min-height: 0;
    overflow-y: auto;

}

.todo-list-create-item{
    display: none;

    width: 80%;
    height: 512px;

    border-radius: 12px;
}


#todo-create-item-box {
  position: fixed;
  width: 80%;

  top: calc(env(safe-area-inset-top) + 128px);
  right: 0;
  bottom: auto;
  left: 0;

  margin: 0 auto;
}