<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/core/auth.css">
    <link rel="stylesheet" href="/static/css/core/variables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        
    <div class="content-box">
      <div class="signin-box">
        <h1 class="title">BandPlan</h1>

        <h3 class="sub-title"> The app for bands </h3>
        
        <span class="register-code-head">Register Here:</span>

        <form
          class="register-form"
          method="post"
          action="/register/2-submit">

          {{ if . }}
            <input type="hidden" name="access-code" value="{{ .AccessCodeHash }}">
            <input type="hidden" name="registration-id" value="{{ .UserRegistrationID }}">
          {{ end }}


          {{ if .Email }}
            <input
              id="email"
              type="email"
              name="email"
              value="{{ .Email }}"
              placeholder="Enter your Email"
              required>
          {{ else }}
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Enter your Email"
              required>
            {{ end }}

          <input 
            id="email-confirmation"
            type="email"
            name="email-confirmation" 
            value="{{ .Email }}"
            placeholder="Confirm Your Email Address"
            required>

          <input 
            type="text" 
            name="first-name"
            value="{{ .FirstName }}"
            placeholder="Enter Your First Name"
            required>

          <input 
            type="text" 
            name="last-name" 
            value="{{ .LastName }}"
            placeholder="Enter Your last Name"
            required>

          <input 
            type="text" 
            name="display-name" 
            value="{{ .DisplayName }}"
            placeholder="Enter Your Display Name"
            required>

          <div class="registration-time-row">
            <label class="registration-time-label" for="event-timezone">Time Zone: </label>
            <select
              id="event-timezone"
              class="registration-row-input registration-timezone-select"
              name="timezone">
              <option value="UTC" {{ if eq .Timezone "UTC" }}selected{{ end }}>UTC</option>
              <option value="America/New_York" {{ if eq .Timezone "America/New_York" }}selected{{ end }}>Eastern Time</option>
              <option value="America/Chicago" {{ if eq .Timezone "America/Chicago" }}selected{{ end }}>Central Time</option>
              <option value="America/Denver" {{ if eq .Timezone "America/Denver" }}selected{{ end }}>Mountain Time</option>
              <option value="America/Los_Angeles" {{ if eq .Timezone "America/Los_Angeles" }}selected{{ end }}>Pacific Time</option>
              <option value="America/Anchorage" {{ if eq .Timezone "America/Anchorage" }}selected{{ end }}>Alaska Time</option>
              <option value="Pacific/Honolulu" {{ if eq .Timezone "Pacific/Honolulu" }}selected{{ end }}>Hawaii Time</option>
              <option value="Europe/London" {{ if eq .Timezone "Europe/London" }}selected{{ end }}>United Kingdom</option>
              <option value="Europe/Dublin" {{ if eq .Timezone "Europe/Dublin" }}selected{{ end }}>Ireland</option>
              <option value="Europe/Lisbon" {{ if eq .Timezone "Europe/Lisbon" }}selected{{ end }}>Portugal</option>
              <option value="Europe/Berlin" {{ if eq .Timezone "Europe/Berlin" }}selected{{ end }}>Central Europe</option>
              <option value="Europe/Helsinki" {{ if eq .Timezone "Europe/Helsinki" }}selected{{ end }}>Eastern Europe</option>
            </select>
          </div>

          <div class="button-row-join">
            <button
              class="login-button login-button-join register-back-button" 
              type="submit"
              formaction="/register/1"
              formmethod="post"
              formnovalidate>
              Back
            </button>
            <button 
              class="login-button login-button-join" 
              submit>
              Next
            </button>
          </div>

          <a
            class="register-login"
            href="/login"
            method="get">
            Already have an account? Login
          </a>
          
        </form>
        <div id="register-message"></div>
      </div>
    </div>

    <script id="email-validation">
      const email = document.getElementById("email");
      const emailConfirmation = document.getElementById("email-confirmation");

      function validateEmails() {
        if (email.value !== emailConfirmation.value) {
          emailConfirmation.setCustomValidity("Passwords do not match.");
        } else {
          emailConfirmation.setCustomValidity("");
        }
      }

      email.addEventListener("input", validateEmails);
      emailConfirmation.addEventListener("input", validateEmails);
    </script>

  </body> 
</html>
