<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/core/auth.css">
    <link rel="stylesheet" href="/static/css/core/variables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ template "service_worker" . }}
  </head>

  <body>
        
    <div class="content-box">
      <div class="signin-box">
        <h1 class="title">BandPlan</h1>

        <h3 class="sub-title"> The app for bands </h3>
        
        <form
          class="register-form"
          action="/register/4-submit"
          method="post">

          <input type="hidden" name="registration-id" value="{{ .RegistrationID }}">
          <input type="hidden" name="band-name" value="{{ .BandName }}">

          <input 
            type="password" 
            id="password"
            name="password" 
            placeholder="Create New Password"
            required>

          <input 
            type="password" 
            id="password-confirmation"
            name="password-confirmation" 
            placeholder="Confirm Password"
            required>

          <div class="agreement-box">
            {{ template "user_agreement" . }}
          </div>

          <div class="button-row-join">
            <button
              class="login-button login-button-join register-back-button" 
              type="submit"
              formaction="/register/3"
              formmethod="post"
              formnovalidate>
              Back
            </button>
            <button 
              class="login-button login-button-join" 
              submit>
              Next
            </button>
          </div>

          <a
            class="register-login"
            href="/login"
            method="get">
            Already have an account? Login
          </a>
          
        </form>
        <div id="register-message"></div>
      </div>
    </div>


    <script id="password-validation">
      const password = document.getElementById("password");
      const confirmation = document.getElementById("password-confirmation");

      function validatePasswords() {
        if (password.value.length < 8) {
          password.setCustomValidity(
            "Password must be at least 8 characters long."
          );
        } else {
          password.setCustomValidity("");
        }

        if (confirmation.value.length < 8) {
          confirmation.setCustomValidity(
            "Password confirmation must be at least 8 characters long."
          );
        } else if (password.value !== confirmation.value) {
          confirmation.setCustomValidity("Passwords do not match.");
        } else {
          confirmation.setCustomValidity("");
        }
      }

      password.addEventListener("input", validatePasswords);
      confirmation.addEventListener("input", validatePasswords);
    </script>


  </body> 
</html>