<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        
    <div class="content-box">
      <h1 class="title">BandPlan</h1>

      <h3 class="sub-title"> The app for bands </h3>

      <form
        class="register-form"
        hx-post="/register/create"
        hx-target="#register-message"
        hx-swap="innerHTML">

        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="text" name="band" placeholder="Enter Band Name">
        <input type="text" name="email" placeholder="Enter Email Address">
        <input type="password" name="password" placeholder="Enter New Password">

        <div class="button-row">
          <button type="submit">Join the Band</button>
        </div>

        <a
          class="register-login"
          href="/login">
          Already have an account? Login
        </a>
        
      </form>
      <div id="register-message"></div>
    </div>
  </body> 
</html>