<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/core/auth.css">
    <link rel="stylesheet" href="/static/css/core/variables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        
    <div class="content-box">
      <div class="signin-box">
        <h1 class="title">BandPlan</h1>

        <h3 class="sub-title">Do you have an access code?</h3>
        
        <span class="register-code-head">Enter Your Artist Name:</span>

        <form
          class="register-form"
          action="/register/3-submit">

          {{ if .Band.Name }}
            <input 
              type="text" name="band" value="{{ capitalizeBandName .Band.Name }}" required>
          {{ else }}
            <input type="text" name="band" placeholder="Enter Band or Artist Name" required>
          {{ end }}

          {{ if .User }}
            <input type="hidden" name="registration-id" value="{{ .User.UserRegistrationID }}">
          {{ end }}


          <div class="button-row-join">
            <button
              class="login-button login-button-join register-back-button" 
              type="submit"
              formaction="/register/2"
              formmethod="post"
              formnovalidate>
              Back
            </button>
            <button 
              class="login-button login-button-join" 
              submit>Enter</button>
          </div>

          <a
            class="register-login"
            href="/login">
            Already have an account? Login
          </a>
          
        </form>
        <div id="register-message"></div>
      </div>
    </div>

  </body> 
</html>
