<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/core/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        
    <div class="content-box">
      <div class="signin-box">
        <h1 class="title">BandPlan</h1>

        <h3 class="sub-title"> The app for bands </h3>

        <form
          class="register-form"
          hx-post="/register/create"
          hx-target="#register-message"
          hx-swap="innerHTML">

          <input type="text" name="name" placeholder="Enter Your Name">
          <input type="text" name="display-name" placeholder="Enter Your Display Name">
          {{ if .Name}}
            <input type="text" name="band" value="{{ capitalizeBandName .Name }}">
          {{ else }}
            <input type="text" name="band" placeholder="Enter Band Name">
          {{ end }}

          <input type="text" name="email" placeholder="Enter Email Address">
          <input type="password" name="password" placeholder="Enter New Password">

          <div class="agreement-box">
            {{ template "user_agreement" . }}
          </div>

          <div class="button-row-join">
            <button type="submit">Join the Band</button>
          </div>

          <a
            class="register-login"
            href="/login">
            Already have an account? Login
          </a>
          
        </form>
        <div id="register-message"></div>
      </div>
      
    </div>
  </body> 
</html>