<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/core/auth.css">
    <link rel="stylesheet" href="/static/css/core/variables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        
    <div class="content-box">
      <div class="signin-box">
        <h1 class="title">BandPlan</h1>

        <h3 class="sub-title">Do you have an access code?</h3>
        
        <span class="register-code-head">:</span>

        <form
          class="register-form"
          hx-post="/register/create"
          hx-target="#register-message"
          hx-swap="innerHTML">

          <input 
            type="text" 
            name="name" 
            placeholder="Enter Your Name"
            required>

          {{ if .Name}}
            <input 
              type="text" name="band" value="{{ capitalizeBandName .Name }}" required>
          {{ else }}
            <input 
              type="text" name="band" placeholder="Enter Band or Artist Name" required>
          {{ end }}

          <div class="button-row-join">
            <button 
              class="login-button login-button-join" 
              submit>Join the Band</button>
          </div>

          <a
            class="register-login"
            href="/login">
            Already have an account? Login
          </a>
          
        </form>
        <div id="register-message"></div>
      </div>
    </div>

    <script id="email-validation">
      const email = document.getElementById("email");
      const emailConfirmation = document.getElementById("email-confirmation");

      function validateEmails() {
        if (email.value !== emailConfirmation.value) {
          emailConfirmation.setCustomValidity("Passwords do not match.");
        } else {
          emailConfirmation.setCustomValidity("");
        }
      }

      email.addEventListener("input", validateEmails);
      emailConfirmation.addEventListener("input", validateEmails);
    </script>

    <script id="password-validation">
      const password = document.getElementById("password");
      const confirmation = document.getElementById("password-confirmation");

      function validatePasswords() {
        if (password.value.length < 8) {
          password.setCustomValidity(
            "Password must be at least 8 characters long."
          );
        } else {
          password.setCustomValidity("");
        }

        if (confirmation.value.length < 8) {
          confirmation.setCustomValidity(
            "Password confirmation must be at least 8 characters long."
          );
        } else if (password.value !== confirmation.value) {
          confirmation.setCustomValidity("Passwords do not match.");
        } else {
          confirmation.setCustomValidity("");
        }
      }

      password.addEventListener("input", validatePasswords);
      confirmation.addEventListener("input", validatePasswords);
    </script>


  </body> 
</html>