<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <button 
          class="song-header-back-button" 
          hx-get="/songs"
          hx-target=".content-box"
          hx-swap="innerHTML"
          hx-push-url="true"
          onclick="document.getElementById('left-menu').classList.remove('toggle')"
          type="button">
          ❮
        </button>

        <div class="song-header-title">Song Info</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/song/edit?id={{ .Song.SongID }}">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              width="32" height="32" viewBox="0 0 24 24" 
              fill="none" stroke="currentColor" 
              stroke-width="1.5" stroke-linecap="round" 
              stroke-linejoin="round" class="lucide lucide-square-pen-icon lucide-square-pen">
              <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
              <path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="song-info-display">

        <div class="song-display-card">
          <div class="song-display-card-row">
            <span class="song-display-label">Title:</span>
            <span class="song-display-field">{{ .Song.Title }}</span>
          </div>
          <div class="song-display-card-row">
            <span class="song-display-label">Album:</span>
            <span class="song-display-field">{{ .Song.AlbumTitle }}</span>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Length:</span>
            <span class="song-display-field">{{ formatDuration .Song.LengthSeconds }}</span>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Genre:</span>
            <span class="song-display-field">{{ .Song.Genre }}</span>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Release Date:</span>
            <span class="song-display-field">{{ formatReleaseDate .Song.ReleaseDate }}</span>
          </div>
        </div>

        <div class="song-display-card">
          <div class="song-display-card-row">
            <span class="song-display-label">Key:</span>
            <span class="song-display-field">{{ .Song.MusicalKey }}</span>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Tuning:</span>
            <span class="song-display-field">{{ .Song.Tuning }}</span>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Recording BPM:</span>
            <span class="song-display-field">{{ .Song.RecordingBPM }}</span>
          </div>
          
          <div class="song-display-card-row">
            <span class="song-display-label">Live BPM:</span>
            <span class="song-display-field">{{ .Song.LiveBPM }}</span>
          </div>
        </div>

        <div class="song-display-card">
          <div class="song-display-card-row">
            <span class="song-display-label">Spotify:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.SpotifyLink }}">
              {{ .Song.SpotifyLink }}
            </a>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Apple Music:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.AppleMusicLink }}">
              {{ .Song.AppleMusicLink }}
            </a>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">YouTube:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.YouTubeLink }}">
              {{ .Song.YouTubeLink }}
            </a>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Other:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.OtherLink }}">
              {{ .Song.OtherLink }}
            </a>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-card-row">
            <span class="song-display-label-full">Lyrics:</span>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Lyrics }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-card-row">
            <span class="song-display-label-full">Notes:</span>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Notes }}</p>
          </div>
        </div>

      </div> 
    </div>
  </body>
</html>