

<div class="song-download-query-page"> 

  <div class="song-download-query-header">
      <div id="song-download-query-header-title">Query</div>
    </div>

  <form 
    class="song-download-query-form"
    hx-get="/songs/itunes/download"
    hx-target=".content-box"
    hx-swap="innerHTML"
    hx-push-url="true">

    <div class="song-download-field-box">
      <label 
        class="song-download-field-label" 
        for="itunes-query-artist-name">
        Artist Name:
      </label>

      <input 
        id="itunes-query-artist-name"
        class="song-download-field-input" 
        type="text" 
        name="itunes-query-artist-name" 
        placeholder="Enter Song Title"
        required
        value="{{ .Band.Name }}"
        maxlength="800"
        autofocus>
    </div>

    <div class="song-download-field-box">
      <label 
        class="song-download-field-label" 
        for="itunes-query-song-title">
        Song Title:
      </label>

      <input
        id="itunes-query-song-title"
        class="song-download-field-input" 
        type="text" 
        name="itunes-query-song-title" 
        placeholder="Enter Song Title"
        
        maxlength="800"
        autofocus>
    </div>

    <div class="song-download-submit">
      <button 
        class="song-download-submit-button"
        type="submit">
        Submit
      </button>
      <a 
        class="song-download-cancel-button"
        href="/songs">
        Cancel
      </a>
    </div>
    
  </form>
</div>