<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

  <body>
    <div class="content-box">

      <div class="header">

        <div class="menu">
          <button 
            class="open-side-menu-button"
            type="button" 
            id="menu-button">
            ☰
          </button>

          {{ template "left_sidebar_menu" .}}
          
        </div>

        <div class="header-center">
          <h1 class="title">BandPlan</h1>
          <h2 class="band">{{ .Band.Name }}</h2>
        </div>

        <div class="account">

          <a 
            class="open-add-song-button"
            id="add-song-button"
            href="/songs/add">
            +
          </a>

          <div id="right-menu" class="right-menu">
            <div class="right-menu-header">
              <button 
                class="close-right-menu-button" 
                type="button" 
                id="close-right-menu">
                ❯
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="songs-list-page">
        
        <div class="songs-search-header">
          <input
            class="songs-search-bar"
            type="search"
            name="q"
            placeholder="Search songs..."
            hx-get="/songs/search"
            hx-trigger="keyup changed delay:200ms"
            hx-target=".songs-list">
        </div>

        <ul
          class="songs-list"
          style="list-style-type: none">

          {{ if .Songs }}
            {{ range $index, $song := .Songs }}
              <li>

                <a class="song-card" href="/song?id={{ .SongID }}">

                    <div class="song-index">
                      {{ add $index 1 }}.
                    </div>

                    <div class="song-artwork"></div>

                    <div class="song-card-info">

                      <div class="song-card-top-row">
                        <p class="song-title">{{ .Title }}</p>
                        <p class="album-title">{{ .AlbumTitle }}</p>
                      </div>
                    
                      <div class="song-card-bottom-row">
                        <p class="recording-bpm">Rec. BPM: {{ .RecordingBPM }}</p>
                        <p class="live-bpm">Live BPM: {{ .LiveBPM }}</p>
                        <p class="musical-key">Key: {{ .MusicalKey }}</p>
                      </div>
                    </div>

                </a>
              </li>
            {{ end }}
          {{ else }}
            <li class="empty-songs-message">No songs yet.</li>
          {{ end }}
        </ul>
      </div>

    </div>

    <script>
      document.getElementById("menu-button").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });

      document.getElementById("close-left-menu").addEventListener("click", () => {
        document.getElementById("left-menu").classList.toggle("toggle");
      });
    </script>
  </body>
</html>