<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <div class="content-box">
      <div class="add-song-header">
        Edit Song:
      </div>

      <form
        id="song-edit-form"
        class="add-songs"
        method="POST"
        action="/song/update"
        enctype="multipart/form-data">
        <input type="hidden" name="song-id" value="{{ .Song.SongID }}">

        <div class="add-songs-form">
          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="song-title">Song Title:</label>
              <input
                id="song-title"
                class="field-row-input"
                type="text"
                name="song-title"
                value="{{ .Song.Title }}"
                required
                maxlength="800"
                autofocus>
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="artist-name">Artist Name:</label>
              <input
                id="artist-name"
                class="field-row-input"
                type="text"
                name="artist-name"
                value="{{ .Song.ArtistName }}"
                required
                maxlength="800">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="album-name">Album Title:</label>
              <input
                id="album-name"
                class="field-row-input"
                type="text"
                name="album-name"
                value="{{ .Song.AlbumTitle }}"
                maxlength="200">
            </div>
          </div>

          <div class="songs-add-artwork-row">
            {{ if .Song.ArtworkPath }}
              <div class="song-edit-artwork-preview">
                <img
                  src="{{ fetchLargeArtwork .Song.ArtworkPath }}"
                  alt="Current artwork for {{ .Song.Title }}">
              </div>
              <label class="songs-add-artwork-label" for="artwork-path">Replace Artwork:</label>
            {{ else }}
              <label class="songs-add-artwork-label" for="artwork-path">Artwork Filepath:</label>
            {{ end }}
            <input
              id="artwork-path"
              class="field-row-input"
              type="file"
              name="artwork-path"
              accept="image/*">
          </div>

          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="minutes">Length:</label>
              <input
                id="minutes"
                type="number"
                name="minutes"
                min="0"
                max="99"
                value="{{ formatMinutes .Song.LengthSeconds }}">
              :
              <input
                id="seconds"
                type="number"
                name="seconds"
                min="0"
                max="59"
                value="{{ formatSeconds .Song.LengthSeconds }}">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="release-date">Release Date:</label>
              <input
                id="release-date"
                class="field-row-input"
                type="date"
                name="release-date"
                value="{{ formatReleaseDate .Song.ReleaseDate }}">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="genre">Genre:</label>
              <input
                id="genre"
                class="field-row-input"
                type="text"
                name="genre"
                value="{{ .Song.Genre }}"
                maxlength="100">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="recording-bpm">Recording BPM:</label>
              <input
                id="recording-bpm"
                class="field-row-input"
                type="text"
                name="recording-bpm"
                value="{{ .Song.RecordingBPM }}"
                inputmode="numeric"
                pattern="[0-9]*"
                maxlength="4">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="live-bpm">Live BPM:</label>
              <input
                id="live-bpm"
                class="field-row-input"
                type="number"
                name="live-bpm"
                value="{{ .Song.LiveBPM }}"
                min="0"
                max="500">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="time-signature">Time Signature:</label>
              <input
                id="time-signature"
                class="field-row-input"
                type="text"
                name="time-signature"
                value="{{ .Song.TimeSignature }}"
                maxlength="20">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="original-key">Original Key:</label>
              <input
                id="original-key"
                class="field-row-input"
                type="text"
                name="original-key"
                value="{{ .Song.OriginalKey }}"
                maxlength="20">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="live-key">Live Key:</label>
              <input
                id="live-key"
                class="field-row-input"
                type="text"
                name="live-key"
                value="{{ .Song.LiveKey }}"
                maxlength="20">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="tuning">Tuning:</label>
              <input
                id="tuning"
                class="field-row-input"
                type="text"
                name="tuning"
                value="{{ .Song.Tuning }}"
                maxlength="50">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="capo">Capo:</label>
              <input
                id="capo"
                class="field-row-input"
                type="text"
                name="capo"
                value="{{ .Song.Capo }}"
                maxlength="50">
            </div>
          </div>

          <div class="settings-row">
            <div class="settings-row-div">
              <label class="settings-row-label" for="status">Status</label>
              <select id="status" name="status">
                <option value="Demo" {{ if eq .Song.Status "Demo" }}selected{{ end }}>Demo</option>
                <option value="Recording" {{ if eq .Song.Status "Recording" }}selected{{ end }}>Recording</option>
                <option value="Finished" {{ if eq .Song.Status "Finished" }}selected{{ end }}>Finished</option>
                <option value="Released" {{ if eq .Song.Status "Released" }}selected{{ end }}>Released</option>
              </select>
            </div>

            <div class="settings-row-div">
              <div class="settings-row-section">
                <span class="settings-row-label">Explicit</span>
                <label class="switch">
                  <input type="checkbox" name="explicit" {{ if .Song.Explicit }}checked{{ end }}>
                  <span class="slider"></span>
                </label>
              </div>

              <div class="settings-row-section">
                <span class="settings-row-label">Is Cover</span>
                <label class="switch">
                  <input type="checkbox" name="is-cover" {{ if .Song.IsCover }}checked{{ end }}>
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="spotify-link">Spotify Link:</label>
              <input id="spotify-link" class="field-row-input" type="url" name="spotify-link" value="{{ .Song.SpotifyLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="apple-music-link">Apple Music Link:</label>
              <input id="apple-music-link" class="field-row-input" type="url" name="apple-music-link" value="{{ .Song.AppleMusicLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="youtube-link">YouTube Link:</label>
              <input id="youtube-link" class="field-row-input" type="url" name="youtube-link" value="{{ .Song.YouTubeLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="amazon-music-link">Amazon Music Link:</label>
              <input id="amazon-music-link" class="field-row-input" type="url" name="amazon-music-link" value="{{ .Song.AmazonMusicLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="pandora-link">Pandora Link:</label>
              <input id="pandora-link" class="field-row-input" type="url" name="pandora-link" value="{{ .Song.PandoraLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="deezer-link">Deezer Link:</label>
              <input id="deezer-link" class="field-row-input" type="url" name="deezer-link" value="{{ .Song.DeezerLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="tidal-link">Tidal Link:</label>
              <input id="tidal-link" class="field-row-input" type="url" name="tidal-link" value="{{ .Song.TidalLink }}" placeholder="https://...">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="other-link">Other Link:</label>
              <input id="other-link" class="field-row-input" type="url" name="other-link" value="{{ .Song.OtherLink }}" placeholder="https://...">
            </div>
          </div>

          <div class="add-songs-card">
            <div class="field-row lyrics-row">
              <label class="field-row-label" for="lyrics">Lyrics:</label>
              <textarea id="lyrics" class="field-row-input lyrics-input" name="lyrics" placeholder="Enter Lyrics">{{ .Song.Lyrics }}</textarea>
            </div>

            <div class="field-row lyrics-row">
              <label class="field-row-label" for="description">Description:</label>
              <textarea id="description" class="field-row-input lyrics-input" name="description" placeholder="Enter Description">{{ .Song.Description }}</textarea>
            </div>

            <div class="field-row lyrics-row">
              <label class="field-row-label" for="notes">Notes:</label>
              <textarea id="notes" class="field-row-input lyrics-input" name="notes" placeholder="Enter Notes">{{ .Song.Notes }}</textarea>
            </div>
          </div>
        </div>

        <div class="songs-add-footer">
          <div id="songs-add-left">
            <a id="songs-add-cancel" href="/song?id={{ .Song.SongID }}">Cancel</a>
          </div>

          <div id="songs-add-right">
            <button id="songs-add-save" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
