<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <button 
          class="song-header-back-button" 
          hx-get="/songs"
          hx-target=".content-box"
          hx-swap="innerHTML"
          hx-push-url="true"
          onclick="document.getElementById('left-menu').classList.remove('toggle')"
          type="button">
          ❮
        </button>

        <div class="song-header-title">Song</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/song/edit?id={{ .Song.SongID }}">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>
      </div>

      <div class="song-info-display">

        <div class="song-art-display-card">

          <div class="song-art-display-area">
              <img
              class="song-art-display"
              src="{{ mediumImagePath .Song.ArtworkPath }}"
              alt="song artwork">
          </div>
          
          <div class="song-title-display-area">
            
            <span class="song-title-label">{{ .Song.Title }}</span>
            <span class="song-band-label">{{ .Band.Name }}</span>

            <span class="song-album">
              <span class="song-album-label">Album:</span>
              <span class="song-album-field">{{ .Song.AlbumTitle }}</span>
            </span>

            <span class="song-release">
              <span class="song-album-label">Release:</span>
              <span class="song-album-field">{{ formatReleaseDate .Song.ReleaseDate }}</span>
            </span>
            
          </div>
        </div>


        <div class="song-display-info-card">
          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ .Song.RecordingBPM }}</span>
            <span class="song-display-info-segment-bottom">Rec. BPM</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ .Song.OriginalKey }}</span>
            <span class="song-display-info-segment-bottom">Key</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ .Song.Tuning }}</span>
            <span class="song-display-info-segment-bottom">Tuning</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ .Song.TimeSignature }}</span>
            <span class="song-display-info-segment-bottom">Time Sig.</span>
          </div>

          <div class="card-divider-vertical-top"></div>

          <div class="song-display-info-segment">
            <span class="song-display-info-segment-top">{{ formatDuration .Song.LengthSeconds }}</span>
            <span class="song-display-info-segment-bottom">Duration</span>
          </div>
        </div>


        <div class="song-display-action-row">

          <div class="song-display-action-button-setlist">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-plus-icon lucide-list-plus"><path d="M16 5H3"/><path d="M11 12H3"/><path d="M16 19H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>
                Setlist
          </div>

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sticky-note-icon lucide-sticky-note"><path d="M21 9a2.4 2.4 0 0 0-.706-1.706l-3.588-3.588A2.4 2.4 0 0 0 15 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2z"/><path d="M15 3v5a1 1 0 0 0 1 1h5"/></svg>
              Chart
          </div>

          <div class="song-display-action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
            Share
          </div>
        </div>

        <div class="song-display-card">
          <div class="song-display-card-left">

            <div class="song-display-card-row">
              <span class="song-display-label">Status:</span>
              <span class="song-display-field">{{ .Song.Status }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Explicit:</span>
              <span class="song-display-field">{{ boolToYesNo .Song.Explicit }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Is Cover:</span>
              <span class="song-display-field">{{ boolToYesNo .Song.IsCover }}</span>
            </div>
          </div>

          <div class="card-divider-vertical"></div>

          <div class="song-display-card-right">

            <div class="song-display-card-row">
              <span class="song-display-label">Capo:</span>
              <span class="song-display-field">{{ .Song.Capo }}</span>
            </div>
          </div>
        </div>






        <div class="song-display-card">
          <div class="song-display-card-left">
            <div class="song-display-card-row">
              <span class="song-display-label">Genre:</span>
              <span class="song-display-field">{{ .Song.Genre }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Rec. BPM:</span>
              <span class="song-display-field">{{ .Song.RecordingBPM }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Live BPM:</span>
              <span class="song-display-field">{{ .Song.LiveBPM }}</span>
            </div>
          </div>

          <div class="card-divider-vertical"></div>

          <div class="song-display-card-right">
            <div class="song-display-card-row">
              <span class="song-display-label">Orig. Key:</span>
              <span class="song-display-field">{{ .Song.OriginalKey }}</span>
            </div>

            <div class="song-display-card-row">
              <span class="song-display-label">Live Key:</span>
              <span class="song-display-field">{{ .Song.LiveKey }}</span>
            </div>
          </div>
          
        </div>


        <div class="song-display-card-full">
          <div class="song-display-card-row-link">
            <span class="song-display-label">Spotify:</span>
              {{ if .Song.SpotifyLink }}
                <a 
                  class="song-display-field-link"
                  href="{{ .Song.SpotifyLink }}"
                  target="_blank">
                  {{ .Song.SpotifyLink }}
                </a>

                <button
                  type="button"
                  class="song-display-field-copy"
                  onclick="copyToClipboard('{{ .Song.SpotifyLink }}', this)">
                  <span class="copy-icon">
                    {{ template "svg_copy" . }}
                  </span>
                </button>
              {{ else }}
                <span class="song-display-field-link song-display-placeholder">
                  Add Spotify to import all links
                </span>
              {{ end }}
            </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Apple:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.AppleMusicLink }}">
              {{ .Song.AppleMusicLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.AppleMusicLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">YouTube:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.YouTubeLink }}">
              {{ .Song.YouTubeLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.YouTubeLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Amazon:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.AmazonMusicLink }}">
              {{ .Song.AmazonMusicLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.AmazonMusicLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Pandora:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.PandoraLink }}">
              {{ .Song.PandoraLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.PandoraLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Deezer:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.DeezerLink }}">
              {{ .Song.DeezerLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.DeezerLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Tidal:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.TidalLink }}">
              {{ .Song.OtherLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.TidalLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">Other:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Song.OtherLink }}">
              {{ .Song.OtherLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.OtherLink }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>
        </div>

        <div class="song-display-card-full song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Lyrics:</span>
            <a class="song-display-label-full-view">View</a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.Lyrics }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ trimSpace .Song.Lyrics }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Description:</span>
            <a class="song-display-label-full-view">View</a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.Description }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Description }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Notes:</span>
            <a class="song-display-label-full-view">View</a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.Notes }}', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Notes }}</p>
          </div>
        </div>

        <div class="song-display-spacer"></div>

      </div> 
    </div>

    <script src="/static/js/main.js"></script>
    
  </body>
</html>