

{{ if .Songs }}
  {{ range $index, $song := .Songs }}
    <li>
      <div class="song-card" href="/song?id={{ .SongID }}">
        <a 
          class="song-card-main"
          href="/song?id={{ .SongID }}">
          
          <div class="song-index">
            {{ add $index 1 }}
          </div>

          <div class="song-artwork">
            {{ if .ArtworkPath }}
              <img
                class="songs-art-display"
                src="{{ smallImagePath .ArtworkPath }}"
                alt="Song Artwork"
                >
            {{ else }}
              <img class="songs-art-display-placeholder">
            {{ end }}
          </div>

          <div class="song-card-info">

            <div class="song-card-top-row">
              <p class="song-title">{{ .Title }}</p>
            </div>

            <div class="song-card-middle-row">
              <p class="album-title">{{ .AlbumTitle }}</p>
            </div>
          
            <div class="song-card-bottom-row">
              <p class="recording-bpm">{{ .RecordingBPM }} BPM</p>
              <p class="song-card-bottom-divider">●</p>
              <p class="length">{{ formatDuration .LengthSeconds }}</p>
              <p class="song-card-bottom-divider">●</p>
              <p class="musical-key">Key: {{ convertBlankField .OriginalKey }}</p>
            </div>
          </div>
        </a>

        <div class="song-card-options">
          <button 
            class="song-card-options-button" 
            type="button"
            onclick="toggleSongMenu(event)"
            aria-label="Song options">
            {{ template "svg_options_horizontal"}}
          </button>

          <div class="song-popup-menu">
            <button 
              type="button" 
              class="song-popup-item"
              hx-post="/song/duplicate"
              hx-vals='{"song-id": "{{ .SongID }}"}'
              hx-target="#songs-list"
              hx-swap="innerHTML">
              Duplicate
            </button>

            <div class="popup-menu-divider"></div>
              <div class="songs-setlists">
                <button
                  class="song-popup-item" 
                  type="button"
                  onclick="toggleSongsSetlistsMenu(event, 'setlists-menu-{{ .SongID }}')"
                  aria-label="Setlist options">
                  Add to Setlist
                </button>
              </div>

            <div class="popup-menu-divider"></div>
            
            <button 
              type="button" 
              class="song-popup-item danger"
              hx-post="/song/delete"
              hx-vals='{"song-id": "{{ .SongID }}"}'
              hx-target=".content-box"
              hx-swap="innerHTML">
              Delete
            </button>
          </div>
        </div>


      </div>
    </li>
  {{ end }}
{{ else }}
  <li class="empty-songs-message">No songs yet.</li>
{{ end }}