<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <button 
          class="song-header-back-button" 
          hx-get="/songs"
          hx-target=".content-box"
          hx-swap="innerHTML"
          hx-push-url="true"
          onclick="document.getElementById('left-menu').classList.remove('toggle')"
          type="button">
          ❮
        </button>

        <div class="song-header-title">Song</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/song/edit?id={{ .Song.SongID }}">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>

      </div>

      <div class="song-info-display">

        <div class="song-art-display-card">

          <div class="song-art-display-area">
            <div class="song-art-display"></div>
          </div>
          
          <div class="song-title-display-area">
            
            <span class="song-title-label">{{ .Song.Title }}</span>
            <span class="song-band-label">{{ .Band.Name }}</span>
            <span class="song-album-label">Album: {{ .Song.AlbumTitle }}</span>
            <span class="song-release-label">Release: {{ formatReleaseDate .Song.ReleaseDate }}</span>
          </div>

        </div>



        <div class="song-display-info-card">
          <span class="song-display-info-segment">{{ .Song.RecordingBPM }}</span>
          <span class="song-display-info-segment">{{ .Song.LiveBPM }}</span>
          <span class="song-display-info-segment">{{ .Song.MusicalKey }}</span>
          <span class="song-display-info-segment">{{ .Song.Tuning }}</span>
          <span class="song-display-info-segment">{{ formatDuration .Song.LengthSeconds }}</span>
        </div>



        <div class="song-display-card">

          <div class="song-display-card-row">
            <span class="song-display-label">Genre:</span>
            <span class="song-display-field">{{ .Song.Genre }}</span>
          </div>

        </div>


        <div class="song-display-card">
          <div class="song-display-card-row">
            <span class="song-display-label">Spotify:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.SpotifyLink }}">
              {{ .Song.SpotifyLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.SpotifyLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Apple Music:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.AppleMusicLink }}">
              {{ .Song.AppleMusicLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.AppleMusicLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">YouTube:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.YouTubeLink }}">
              {{ .Song.YouTubeLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.YouTubeLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Amazon Music:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.AmazonMusicLink }}">
              {{ .Song.AmazonMusicLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.AmazonMusicLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Pandora Link:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.PandoraLink }}">
              {{ .Song.PandoraLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.PandoraLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Deezer Link:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.DeezerLink }}">
              {{ .Song.DeezerLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.DeezerLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>

          <div class="song-display-card-row">
            <span class="song-display-label">Other:</span>
            <a 
              class="song-display-field"
              href="{{ .Song.OtherLink }}">
              {{ .Song.OtherLink }}
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('{{ .Song.OtherLink }}')">
              {{ template "svg_copy" . }}
            </button>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-card-row">
            <span class="song-display-label-full">Lyrics:</span>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Lyrics }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-card-row">
            <span class="song-display-label-full">Description:</span>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Description }}</p>
          </div>
        </div>

        <div class="song-display-card song-display-lyrics-card">
          <div class="song-display-card-row">
            <span class="song-display-label-full">Notes:</span>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Song.Notes }}</p>
          </div>
        </div>

      </div> 
    </div>
  </body>

  <script>
    async function copyToClipboard(text) {
        try {
            await navigator.clipboard.writeText(text);
            console.log("Copied!");
        } catch (err) {
            console.error("Failed to copy:", err);
        }
    }
  </script>
</html>