<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

  <body>
    <div class="content-box">
      <div class="add-song-header">
        Edit Event:
      </div>

      <form
        id="song-edit-form"
        class="add-songs"
        method="POST"
        action="/event/update"
        enctype="multipart/form-data">
        <input type="hidden" name="song-id" value="{{ .Event.EventID }}">

        <div class="add-songs-form">
          <div class="add-songs-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="song-title">Event Name:</label>
              <input
                id="song-title"
                class="field-row-input"
                type="text"
                name="song-title"
                value="{{ .Event.Name }}"
                required
                maxlength="800"
                autofocus>
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="artist-name">Event Date:</label>
              <input
                id="artist-name"
                class="field-row-input"
                type="text"
                name="artist-name"
                value="{{ formatReleaseDate .Event.EventDate }}"
                required
                maxlength="800">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="album-name">Event Type:</label>
              <input
                id="album-name"
                class="field-row-input"
                type="text"
                name="album-name"
                value="{{ .Event.EventType }}"
                maxlength="200">
            </div>
          </div>

          <div class="songs-add-artwork-row">
            <label class="songs-add-artwork-label" for="artwork-path">Event Image:</label>
            <input
              id="artwork-path"
              class="field-row-input"
              type="file"
              name="artwork-path"
              accept="image/*">
          </div>

          <div class="event-edit-card">
            <div class="add-songs-field-row">
              <label class="field-row-label" for="minutes">Recurrence:</label>
              <input
                id="minutes"
                type="number"
                name="minutes"
                min="0"
                max="99"
                value="{{ .Event.Recurrence }}">
              :
              <input
                id="seconds"
                type="number"
                name="seconds"
                min="0"
                max="59"
                value="">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="release-date">Location:</label>
              <input
                id="release-date"
                class="field-row-input"
                type="date"
                name="release-date"
                value="{{ .Event.Location }}">
            </div>

            <div class="event-edit-field-row">
              <label class="field-row-label" for="genre">Address:</label>
              <input
                id="genre"
                type="text"
                name="genre"
                value="{{ .Event.Address }}"
                maxlength="100">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="recording-bpm">Start Time:</label>
              <input
                id="recording-bpm"
                class="field-row-input"
                type="text"
                name="recording-bpm"
                value="{{ if .Event.StartTime }}{{ formatTime .Event.StartTime }}{{ end }}"
                inputmode="numeric"
                pattern="[0-9]*"
                maxlength="4">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="live-bpm">End Time:</label>
              <input
                id="live-bpm"
                class="field-row-input"
                type="number"
                name="live-bpm"
                value="{{ if .Event.EndTime }}{{ formatTime .Event.EndTime }}{{ end }}"
                min="0"
                max="500">
            </div>

            <div class="add-songs-field-row">
              <label class="field-row-label" for="time-signature">Time Zone:</label>
              <input
                id="time-signature"
                class="field-row-input"
                type="text"
                name="time-signature"
                value="{{ .Event.Timezone }}"
                maxlength="20">
            </div>


            <label for="original-key">Set Location:</label>
            <input
              id="original-key"
              type="text"
              name="original-key"
              value="{{ .Event.SetLocation }}"
              maxlength="20">

            <label for="live-key">Load-in Time:</label>
            <input
              id="live-key"
              type="text"
              name="live-key"
              value="{{ if .Event.LoadInTime }}{{ formatTime .Event.LoadInTime }}{{ end }}"
              maxlength="20">

            <label for="tuning">Load-in Instructions:</label>
            <input
              id="tuning"
              type="text"
              name="tuning"
              value="{{ .Event.LoadInInstructions }}"
              maxlength="50">

            <label for="capo">Set Time:</label>
            <input
              id="capo"
              type="text"
              name="capo"
              value="{{ if .Event.SetTime }}{{ formatTime .Event.SetTime }}{{ end }}"
              maxlength="50">
            
            <label for="spotify-link">Set Length:</label>
            <input type="text" name="spotify-link" value="{{ formatMinutes .Event.SetLengthSeconds }}">
          </div>

          <div class="event-edit-card">
            <label for="spotify-link">Venue Name:</label>
            <input type="text" name="spotify-link" value="{{ .Event.VenueName }}">
            
            <label for="spotify-link">Address Line 1:</label>
            <input type="text" name="spotify-link" value="{{ .Event.AddressOne }}">
              
            <label for="spotify-link">Address Line 2:</label>
            <input type="text" name="spotify-link" value="{{ .Event.AddressTwo }}">
              
            <label for="apple-music-link">City:</label>
            <input type="text" name="apple-music-link" value="{{ .Event.City }}">
              
            <label for="state">State:</label>
            <input id="state" type="text" name="state" value="{{ .Event.State }}">
                
            <label for="zip-code">ZIP Code:</label>
            <input id="zip-code" type="text" name="zip-code" value="{{ .Event.ZipCode }}">
          </div>
              
              
          <div class="event-edit-card">
            <label for="presale-ticket-price">Presale Ticket Price:</label>
            <input id="presale-ticket-price" type="number" name="presale-ticket-price" value="{{ .Event.PresaleTicketPrice }}">

            <label for="ticket-price">Ticket Price:</label>
            <input id="ticket-price" type="number" name="ticket-price" value="{{ .Event.TicketPrice }}">

            <label for="ticket-link">Ticket Link:</label>
            <input id="ticket-link" type="text" name="ticket-link" value="{{ .Event.TicketLink }}">
          </div>
          
          <div class="event-edit-card">
            <label for="notes">Notes:</label>
            <input id="notes" type="text" name="notes" value="{{ .Event.Notes }}">
          </div>

          <div class="event-edit-card">
            <label for="link-one-name">Link One Name:</label>
            <input id="link-one-name" type="text" name="link-one-name" value="{{ .Event.LinkOneName }}">

            <label for="link-one">Link One:</label>
            <input id="link-one" type="text" name="link-one" value="{{ .Event.LinkOne }}">

            <label for="link-two-name">Link Two Name:</label>
            <input id="link-two-name" type="text" name="link-two-name" value="{{ .Event.LinkTwoName }}">

            <label for="link-two">Link Two:</label>
            <input id="link-two" type="text" name="link-two" value="{{ .Event.LinkTwo }}">
          </div>


        <div class="songs-add-footer">
          <div id="songs-add-left">
            <a id="songs-add-cancel" href="/events">Cancel</a>
          </div>

          <div id="songs-add-right">
            <button id="songs-add-save" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
