<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div id="event-content-box" class="content-box">

      <div id="event-page-header" class="song-header">
        <a 
          class="song-header-back-button"
          href="/events">
          ❮
        </a>

        <div class="song-header-title">Event</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="/event/edit?event-id={{ .Event.EventID }}">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>
      </div>

      <div class="event-info-display">

        <section id="event-art-info-header" class="event-header">
          <div class="event-art-display-card">
            <img
            class="event-art-display"
            src="{{ mediumImagePath .Event.ImagePath }}"
            alt="song artwork">
          </div>

          <div class="event-header-info">
            <h1>{{ .Event.Name }}</h1>
            <h2>{{ .Event.VenueName }}</h2>
            <h3>
              <span class="event-header-icon">{{ template "svg_event_calendar" . }}</span>
              {{ eventHeaderDate .Event.EventDate }}
            </h3>
            <h3>
              <span class="event-header-icon">{{ template "svg_event_location" . }}</span>
              {{ .Event.City }}
            </h3>
          </div>
        </section>
        
        <section id="event-stat-card" class="event-stat-info-card">

          <dl class="event-stat">
            <dt>Doors</dt>
            <dd>
              {{ if .Event.StartTime }}
                {{ formatTimeInput .Event.StartTime .Event.Timezone }}
              {{ else }}
                <span>-</span>
              {{ end }}
            </dd>
          </dl>

          <dl class="event-stat">
            <dt>Set Time</dt>
            <dd>
              {{ if .Event.SetTime }}
                {{ formatTimeInput .Event.SetTime .Event.Timezone }}
              {{ else }}
                <span>-</span>
              {{ end }}
            </dd>
          </dl>

          <dl class="event-stat">
            <dt>Set Length</dt>
            <dd>{{ formatMinutes .Event.SetLengthSeconds }} min</dd>
          </dl>

          <dl class="event-stat">
            <dt>Tickets</dt>
            <dd>$ {{ .Event.TicketPrice }}</dd>
          </dl>
        </section>

        <section id="event-actin-row" class="song-display-action-row">

          <div class="song-setlists-card-options">
            <a 
              class="song-display-action-button-setlists"
              id="song-display-action-button-setlists"
              href="/setlists">
              {{ template "svg_setlists" . }}
              Setlist
            </a>
          </div>
          
          <a 
            class="event-display-action-button"
            href="/calendar">
            {{ template "svg_calendar_small" . }}
            Calendar
          </a>

          <button 
            class="event-display-action-button"
            id="open-dialog">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-icon lucide-share"><path d="M12 2v13"/><path d="m16 6-4-4-4 4"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/></svg>
            Share
          </button>
        </section>

        <section id="event-info" class="event-display-card">

          <h3>
            <span class="event-section-icon">{{ template "svg_info" . }}</span>
            Event Info
          </h3>

          <dl class="event-info">

            <dt>Name:</dt>
            <dd> {{ .Event.Name }}</dd>

            <dt>Date:</dt>
            <dd>
              {{ if .Event.EventDate }}
                {{ formatReleaseDate .Event.EventDate }}
              {{ end }}
            </dd>

            <dt>Type:</dt>
            <dd>
              {{ if .Event.EventType }}
                {{ .Event.EventType }}
              {{ end }}
            </dd>

            <dt>Location:</dt>
            <dd>
              {{ if .Event.Location }}
                {{ .Event.Location }}
              {{ end }}
            </dd>

            <dt>Address:</dt>
            <dd>
              {{ if .Event.Address }}
                {{ .Event.Address }}
              {{ end }}
            </dd>
          </dl>
        </section>

        <section id="event-schedule" class="event-display-card">
          
          <h3>
            <span class="event-section-icon">{{ template "svg_clock" . }}</span>
            Schedule
          </h3>

          <dl class="event-schedule">
            <dt>Load-in:</dt>
            <dd>
              {{ if .Event.LoadInTime }}
                {{ formatTimeInput .Event.LoadInTime .Event.Timezone }}
              {{ end }}
            </dd>

            <dt>Sound Check:</dt>
            <dd>
              {{ if .Event.SoundCheckTime }}
                {{ formatTimeInput .Event.SoundCheckTime .Event.Timezone }}
              {{ end }}
            </dd>

            <dt>Doors:</dt>
            <dd>
              {{ if .Event.StartTime }}
                {{ formatTimeInput .Event.StartTime .Event.Timezone }}
              {{ end }}
            </dd>

            <dt>Set Time:</dt>
            <dd>
              {{ if .Event.SetTime }}
                {{ formatTimeInput .Event.SetTime .Event.Timezone }}
              {{ end }}
            </dd>

            <dt>Set Length:</dt>
            <dd>
              {{ if .Event.SetLengthSeconds }}
                {{ formatMinutes .Event.SetLengthSeconds }} min
              {{ end }}
            </dd>

            <dt>Event End:</dt>
            <dd>
              {{ if .Event.EndTime }}
                {{ formatTimeInput .Event.EndTime .Event.Timezone }}
              {{ end }}
            </dd>

          <dl>
        </section>
        
        <section id="event-schedule" class="event-display-card">
          
          <h3>
            <span class="event-section-icon">{{ template "svg_link" . }}</span>
            Tickets
          </h3>
          
          <dl class="event-tickets">
            
            <dt>Presale Ticket Price:</dt>
            <dd>
              {{ if .Event.PresaleTicketPrice }}
                {{ .Event.PresaleTicketPrice }}
              {{ end }}
            </dd>
            
            <dt>Ticket Price:</dt>
            <dd>
              {{ if .Event.TicketPrice }}
                {{ .Event.TicketPrice }}
              {{ end }}
            </dd>
            
          </dl>
        </section>

        <section id="event-links" class="event-display-card">
          
          <h3>
            <span class="event-section-icon">{{ template "svg_link" . }}</span>
            Links
          </h3>

          <dl class="event-links">
            {{ if .Event.TicketLink }}
              <dt>Tickets:</dt>
              <dd>
                <a class="event-link" href="{{ .Event.TicketLink }}">{{ .Event.TicketLink }}</a>
                <button
                  type="button"
                  class="event-display-field-copy"
                  onclick="copyToClipboard('{{ .Event.TicketLink}}', this)">
                  <span class="copy-icon">
                    {{ template "svg_copy" . }}
                  </span>

                  <span class="check-icon">
                    {{ template "svg_checkmark" . }}
                  </span>
                </button>
              </dd>
            {{ end }}

            
            {{ if .Event.LinkOne }}
              <dt>Link One:</dt>
              <dd>
                <a class="event-link" href="{{ .Event.LinkOne }}">{{ .Event.LinkOne}}</a>
                <button
                  type="button"
                  class="event-display-field-copy"
                  onclick="copyToClipboard('{{ .Event.LinkOne }}', this)">
                  <span class="copy-icon">
                      {{ template "svg_copy" . }}
                  </span>

                  <span class="check-icon">
                    {{ template "svg_checkmark" . }}
                  </span>
                </button>
              </dd>
            {{ end }}
          <dl>
        </section>

        <section id="event-notes-card" class="song-display-card-full song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Notes:</span>
            <a 
              class="song-display-label-full-view"
              hx-get="/event/notes"
              hx-target=".song-info-display"
              hx-vals='{
                "song-id": ""
              }'
              hx-swap="outerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')">
              View
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Event.Notes }}</p>
          </div>
        </section>

      </div> 
    </div>

    {{ template "backdrop" . }}

    <dialog id="share-dialog">
      <input type="hidden" name="event-id" value="{{ .Event.EventID }}">
      <button
        class="setlist-popup-item">
        Copy Details
      </button>
      <button
        class="setlist-popup-item">
        Share to Chat
      </button>
    </dialog>

    <script id="share-dialog-script">
      const dialog = document.getElementById("share-dialog");
      const openButton = document.getElementById("open-dialog");

      dialog.addEventListener("click", (event) => {
        const bounds = dialog.getBoundingClientRect();

        const clickedOnBackdrop =
          event.clientX < bounds.left ||
          event.clientX > bounds.right ||
          event.clientY < bounds.top ||
          event.clientY > bounds.bottom;

        if (clickedOnBackdrop) {
          dialog.close();
        }
      });

      openButton.addEventListener("click", () => {
        dialog.showModal();
      });
    </script>
   
  </body>
</html>
