<!DOCTYPE html>
<html lang="en">
  
  {{ template "head" . }}

  <body>

    <div class="content-box">

      <div class="song-header">
        <a 
          class="song-header-back-button"
          href="/events">
          ❮
        </a>

        <div class="song-header-title">Event</div>

        <div class="song-header-right">
          <a 
            class="song-header-right-button"
            href="">
            {{ template "svg_edit" . }}
          </a>
          <a 
            class="song-header-right-button">
            {{ template "svg_options" . }}
          </a>
        </div>
      </div>

      <section class="event-info-display">

        <div class="event-art-display-card">

          <!-- <div class="evemt-art-display-area"> -->
              <img
              class="event-art-display"
              src="{{ mediumImagePath .Event.ImagePath }}"
              alt="song artwork">
          <!-- </div>   -->
        </div>
        
        <section class="event-stat-info-card">
          <dl class="event-stat">
            <dd>7:00 PM</dd>
            <dt>Doors</dt>
          </dl>

          <div class="card-divider-vertical-top"></div>

          <dl class="event-stat">
            <dd>{{ formatTime .Event.SetTime }}</dd>
            <dt>Set Time</dt>
          </dl>

          <div class="card-divider-vertical-top"></div>

          <dl class="event-stat">
            <dd>{{ formatMinutes .Event.SetLengthSeconds }}</dd>
            <dt>Set Length</dt>
          </dl>

          <div class="card-divider-vertical-top"></div>

          <dl class="event-stat">
            <dd>{{ .Event.TicketPrice }}</dd>
            <dt>Tickets</dt>
          </dl>
        </section>

        

        <section class="song-display-card">
          <div class="song-display-card-left">

            <div class="event-display-card-row">
              <span class="event-display-label">Name:</span>
              <span class="event-display-field">{{ .Event.Name }}</span>
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Event Date:</span>
              <span class="event-display-field">{{ formatReleaseDate .Event.EventDate }}</span>
            </div>


            <div class="event-display-card-row">
              <span class="event-display-label">Event Type:</span>
              <span class="event-display-field">{{ .Event.EventType }}</span>
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Location:</span>
              <span class="event-display-field">{{ .Event.VenueName }}</span>
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Address:</span>
              <span class="event-display-field">{{  .Event.Address }}</span>
            </div>


          </div>
        </section>

        <div class="song-display-card">
          <div class="song-display-card-left">

            <div class="event-display-card-row">
              <span class="event-display-label">Load In Time:</span>
              {{ if .Event.LoadInTime }}
                <span class="event-display-field">{{ formatTime .Event.LoadInTime }}</span>
              {{ else }}
                <span class="event-display-field"></span>
              {{ end }}
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Set Location:</span>
              <span class="event-display-field">{{ .Event.SetLocation }}</span>
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Set Time:</span>
              {{ if .Event.SetTime }}
                <span class="event-display-field"> {{ formatTime .Event.SetTime}}</span>
              {{ else }}
                <span class="event-display-field"></span>
              {{ end }}
            </div>

            <div class="event-display-card-row">
              <span class="event-display-label">Set Length:</span>
              <span class="event-display-field">{{ formatMinutes .Event.SetLengthSeconds }} min</span>
            </div>
          </div>
        </div>

        <div class="song-display-card-full song-display-lyrics-card">
          <div class="song-display-text-full">
            <span class="song-display-label-full-title">Notes:</span>
            <a 
              class="song-display-label-full-view"
              hx-get="/song/lyrics"
              hx-target=".song-info-display"
              hx-vals='{
                "song-id": ""
              }'
              hx-swap="outerHTML"
              hx-push-url="true"
              onclick="document.getElementById('left-menu').classList.remove('toggle')">
              View
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-large-field">
            <p class="song-display-lyrics">{{ .Event.Notes }}</p>
          </div>
        </div>



        <div class="song-display-card-full">
          <div class="event-display-card-row-link">
            <span class="event-display-label">{{ .Event.LinkOneName }}:</span>
              <a 
                class="song-display-field-link"
                href="{{ .Event.LinkOne }}">
              </a>

              <button
                type="button"
                class="song-display-field-copy"
                onclick="copyToClipboard('', this)">
                <span class="copy-icon">
                  {{ template "svg_copy" . }}
                </span>

                <span class="check-icon">
                  {{ template "svg_checkmark" . }}
                </span>
              </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">{{ .Event.LinkTwo }}:</span>
            <a 
              class="song-display-field-link"
              href="{{ .Event.LinkTwo }}">
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>

          <div class="song-display-card-row-link">
            <span class="song-display-label">YouTube:</span>
            <a 
              class="song-display-field-link"
              href="">
            </a>
            <button
              type="button"
              class="song-display-field-copy"
              onclick="copyToClipboard('', this)">
              <span class="copy-icon">
                  {{ template "svg_copy" . }}
              </span>

              <span class="check-icon">
                  {{ template "svg_checkmark" . }}
              </span>
            </button>
          </div>
        </div>

        <div class="song-display-spacer"></div>

      </section> 
    </div>

    <div class="song-setlists-popup-menu"
      id="song-setlists-popup-menu>">
      <div class="song-setlists-popup-menu-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-plus-icon lucide-list-plus"><path d="M16 5H3"/><path d="M11 12H3"/><path d="M16 19H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>
        <span>Add to Setlist:</span>
      </div>

        <div 
          class="song-setlists-popup-box"
          id="song-setlists-popup-box">
          <button
            type="button" 
            class="song-setlists-popup-item"
            hx-post="/setlist/add"
            hx-vals='{
              "setlist-id": "",
              "song-id": ""
            }'
            hx-swap="none">
            -
          </button>
        </div>

    </div>

    {{ template "backdrop" . }}

    <script>
      const sideMenuBackdrop = document.getElementById("side-menu-backdrop");
      const setlistMenuButton = document.getElementById("song-display-action-button-setlists");
      const setlistMenu = document.getElementById("song-setlists-popup-menu");

      function openSetlistMenu() {
        setlistMenu?.classList.add("open");
        sideMenuBackdrop?.classList.add("open");
      }

      function closeSetlistMenu() {
        setlistMenu?.classList.remove("open");
        sideMenuBackdrop?.classList.remove("open");
      }

      setlistMenuButton?.addEventListener("click", (event) => {
        event.preventDefault();
        event.stopPropagation();

        openSetlistMenu();
      });

      sideMenuBackdrop?.addEventListener("click", () => {
        closeSetlistMenu();
      });

      setlistMenu?.addEventListener("click", (event) => {
        event.stopPropagation();
      });
    </script>
   
  </body>
</html>
